@font-face {
    font-family: 'Cormorant Garamond';
    font-weight: bold;
    src: url('../fonts/CormorantGaramond-Bold.ttf');
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: normal;

    src: url("../fonts/OpenSans-Bold.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: bold;
    font-style: italic;

    src: url("../fonts/OpenSans-BoldItalic.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: italic;

    src: url("../fonts/OpenSans-Italic.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;

    src: url("../fonts/OpenSans-Light.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: italic;

    src: url("../fonts/OpenSans-LightItalic.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: normal;
    font-style: normal;

    src: url("../fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: normal;

    src: url("../fonts/OpenSans-SemiBold.ttf");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 600;
    font-style: italic;

    src: url("../fonts/OpenSans-SemiBoldItalic.ttf");
}
