env
venv
.python-version
.venv
.virtualenv
.idea
.git
.DS_Store
db.sqlite3
db.sqlite3-*
__pycache__
*.pytest_cache
postgres-data
*.env
*.env.stage
*.env.prod
static
media
mediafiles
node_modules
*.*.pyc
.vscode
*.ipynb
*.txt
!requirements.txt
snippets
*.tar.gz
*.db.json
certbot
package-lock.json
