env
venv
.python-version
.venv
.virtualenv
.idea
.git
db.sqlite3
__pycache__
*.pytest_cache
postgres-data
*.env
*.env.stage
*.env.prod
media
mediafiles
*.*.pyc
.vscode
*.ipynb
*.txt
!requirements.txt
snippets
