$yellow:  #E3A358;
$info:          #95C1D6;
$box-shadow-color: rgb(177, 177, 177);

/*
$grid-breakpoints: (
  // Extra small screen / phone
  xs: 0,
  // Small screen / phone
  sm: 544px,
  // Medium screen / tablet
  md: 768px,
  // Large screen / desktop
  lg: 992px,
  // Extra large screen / wide desktop
  xl: 1200px
);*/