{% extends "main.html" %}
{% load cart_tags %}

{% block page %}
	{% block content %}

    <div style="display:none">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </div>    

    <div class="container-fluid">
        <div class="row justify-content-center">    
            <main id="cart-table" class="col cart-view">

                <div class="cart-view__content">
                    <div class="cart-view__title">Корзина</div>
                    <table id="cart-items" class="table table__thead--border cart-view__table">
                        <thead>
                            <tr >
                                <th scope="col" class="image"></th>
                                <th scope="col" class="articul">
                                    <span>
                                        <i class="fa fa-sort-amount-desc"></i>
                                        <i class="fa fa-sort-amount-asc"></i>
                                        артикул
                                    </span>
                                </th>
                                <th scope="col" class="metal">
                                    <span>
                                        <i class="fa fa-sort-amount-desc"></i>
                                        <i class="fa fa-sort-amount-asc"></i>
                                        металл
                                    </span>
                                </th>
                                <th scope="col" class="size">
                                    <span>
                                        <i class="fa fa-sort-amount-desc"></i>
                                        <i class="fa fa-sort-amount-asc"></i>
                                        размер
                                    </span>
                                </th>
                                <th scope="col" class="weight">
                                    <span>
                                        <i class="fa fa-sort-amount-desc"></i>
                                        <i class="fa fa-sort-amount-asc"></i>
                                        вес, шт.
                                    </span>
                                </th>
                                <th scope="col" class="price">
                                    <span>
                                        <i class="fa fa-sort-amount-desc"></i>
                                        <i class="fa fa-sort-amount-asc"></i>
                                        цена, шт.
                                    </span>
                                </th>
                                <th scope="col" class="quantity">
                                    <span>
                                        <i class="fa fa-sort-amount-desc"></i>
                                        <i class="fa fa-sort-amount-asc"></i>
                                        кол-во
                                    </span>
                                </th>
                                <th scope="col" class="total_weight">
                                    <span>
                                        <i class="fa fa-sort-amount-desc"></i>
                                        <i class="fa fa-sort-amount-asc"></i>
                                        вес, общ.
                                    </span>
                                </th>
                                <th scope="col" class="total_price">
                                    <span>
                                        <i class="fa fa-sort-amount-desc"></i>
                                        <i class="fa fa-sort-amount-asc"></i>
                                        стоимость
                                    </span>
                                </th>
                                <th scope="col" class="actions"></th>
                                <th scope="col" class="errors"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            {% with product=item.product %}
                                {% unique_id as id %}
                                <tr id="{{id}}" name="cart-row">
                                    <td class="image">
                                        {% first_product_image product.id as image %}
                                        <img
                                            src="{{ MEDIA_URL }}{{ image }}"
                                            alt="{{ product.name }}"
                                        >
                                    </td>
                                    <td class="articul">
                                        <a href="{% url 'catalog:product' product.id %}">
                                            {{ product.articul }}
                                        </a>
                                    </td>
                                    <td class="metal">{{ product.metal }}</td>
                                    <td class="size">{% if item.size %}<span>{{ item.size }}</span>{% endif %}</td>
                                    <td class="weight">{{ item.weight }}</td>
                                    <td class="price" name="cart-price">{{ item.price|floatformat:"0" }} р.</td>
                                    <td class="quantity">
                                        {% unique_id as id %}
                                        <a href="#{{ id }}" class="remove-quantity">
                                            <i class="fa fa-minus"></i>
                                        </a>
                                        <input
                                            id="{{ id }}"
                                            name="cart-quantity"
                                            value="{{ item.quantity }}"
                                            min="0"
                                            max="{{ product.stock }}"
                                            step="1"
                                            type="text"
                                            class="form-control"
                                        />
                                        <a href="#{{ id }}" class="add-quantity">
                                            <i class="fa fa-plus"></i>
                                        </a>
                                    </td>
                                    <td class="total_weight">
                                        {% total_weight item.weight item.quantity as total_weight %}
                                        {{ total_weight }}
                                    </td>
                                    <td class="total_price" name="cart-sum">{{ item.total_price|floatformat:"0" }} р.</td>
                                    <td class="actions">
                                        <a href="{% url 'cart:cart_remove' product.id item.size %}">
                                            <i class="fa fa-times-circle-o" aria-hidden="true"></i>
                                        </a>
                                        <div name="cart-key" style="display: none;">
                                            {{'{'}}"productId":"{{product.id}}","size":"{{item.size}}"{{'}'}}
                                        </div>
                                    </td>
                                    <td class="errors">
                                        {% if item.errors %}
                                            <div class="formset-field errors">
                                                {{ item.errors }}
                                            </div>
                                        {% endif %}
                                    </td>

                                </tr>
                            {% endwith %}
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="cart-actions">

                        <form id="createOrderFromTable" method="post" action="{% url 'cart:create' %}">
                            {% csrf_token %}
                        </form>
                        <div class="text-right">
                            <a
                                href="#"
                                onclick="document.getElementById('createOrderFromTable').submit();"
                                role="button"
                                class="btn btn-primary mb-2 mr-sm-2"
                            >
                                Оформить заказ
                            </a>
                        </div>

                    </div>

                </div>

            </main>
        </div>
    </div>

	{% endblock %}
{% endblock %}
