{% extends "main.html" %}
{% load humanize %}
{% load cart_tags %}
{% load catalog_tags %}

{% block page %}
	{% block content %}

    <div style="display:none">
        <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <main id="cart-table" class="col cart-view">
                <div class="cart-view__breadcrumb-wrapper">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'catalog:products' %}">Ювелирный интернет-магазин TALANT</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">Корзина</li>
                        </ol>
                    </nav>
                </div>
                <div class="cart-view__content">
                    <div class="cart-view__title">Корзина</div>

                    {% include "components/cart/cart_items.html" with cart=cart %}

                    <div class="cart-actions">

                        <div class="text-right">

                            <div class="cart-result">
                                <div class="cart-result__title">Итог:</div>
                                <div class="cart-result__total-count">{{ cart.get_total_quantity|floatformat:0 }} шт</div>
                                <div class="cart-result__total-weight">{{ cart.get_total_weight|floatformat:2 }} г</div>
                                <div class="cart-result__total-price">{{ cart.get_total_price|floatformat:0|intcomma }} р</div>
                            </div>
                            
                            <form id="createOrderFromTable" method="post" action="{% url 'cart:create' %}">
                                {% csrf_token %}
                                {% if send_into_talant %}
                                    <input type="hidden" name="split_orders" value=1 />
                                {% else %}
                                    <input type="hidden" name="split_orders" value=0 />
                                {% endif %}
                                <div class="cart-comment">
                                    <textarea name="order-note" placeholder="Дополнительная информация о заказе"></textarea>
                                </div>
                            </form>

                            {% if send_into_talant %}
                                <a
                                href="#"
                                onclick="document.getElementById('createOrderFromTable').submit();"
                                role="button"
                                class="btn btn-primary mb-2 mr-sm-2 send-to-order"
                                >
                                    Отправить в Talant
                                </a>                            
                            {% else %}
                                <a
                                    href="#"
                                    onclick="document.getElementById('createOrderFromTable').submit();"
                                    role="button"
                                    class="btn btn-primary mb-2 mr-sm-2 send-to-order"
                                >
                                    Оформить заказ
                                </a>
                            {% endif %}
                        </div>

                    </div>

                </div>

            </main>
        </div>
    </div>

	{% endblock %}
{% endblock %}
