{% extends "base.html" %}
{% load cart_tags %}

{% block page %}
	{% block content %}
    <div class="row" style="justify-content: flex-end; align-items: top;">
        <div id="cartViewArea" class="custom-control custom-switch" style="padding: 8px 16px 8px 16px; display: none;">
            <input type="checkbox" class="custom-control-input" id="cartView">
            <label class="custom-control-label" for="cartView">компактный вид</label>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">    
            <main id="products" class="col-11 products" style="display: none;">
                {% for item in cart %}
                <div>{{ item }}</div>
                {% with product=item.product %}
                    <div>{{ product }}</div>
                {% endwith %}
                {% empty %}
                    <h5 class="text-center h-100">Ваша корзина пуста</h5>
                {% endfor %}
                <form id="createOrderForm" method="post" action="{% url 'cart:create' %}">
                    {% csrf_token %}
                </form>
                <p class="text-right">
                    <a 
                        href="{% url 'catalog:products' %}"
                        role="button"
                        class="btn btn-primary mb-2 mr-sm-2"
                    >
                        Продолжить покупки
                    </a>
                    <a
                        href="#"
                        onclick="document.getElementById('createOrderForm').submit();"
                        role="button"
                        class="btn btn-success mb-2 mr-sm-2"
                    >
                        Оформить заказ
                    </a>
                </p>
            </main>
            <main id="cart-table" class="col-11 products" style="display: none;">
                <table class="table">
                    <thead>
                        
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        {% with product=item.product %}
                            <div>{{ product }}</div>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
                <form id="createOrderFromTable" method="post" action="{% url 'cart:create' %}">
                    {% csrf_token %}
                </form>
                <p class="text-right">
                    <a 
                        href="{% url 'catalog:products' %}"
                        role="button"
                        class="btn btn-primary mb-2 mr-sm-2"
                    >
                        Продолжить покупки
                    </a>
                    <a
                        href="#"
                        onclick="document.getElementById('createOrderFromTable').submit();"
                        role="button"
                        class="btn btn-success mb-2 mr-sm-2"
                    >
                        Оформить заказ
                    </a>
                </p>
            </main>
        </div>
    </div>

	{% endblock %}
{% endblock %}
