{% extends "base.html" %}
{% load cart_tags %}

{% block page %}
	{% block content %}
    <div class="row" style="justify-content: flex-end; align-items: top;">
        <div id="cartViewArea" class="custom-control custom-switch" style="padding: 8px 16px 8px 16px; display: none;">
            <input type="checkbox" class="custom-control-input" id="cartView">
            <label class="custom-control-label" for="cartView">компактный вид</label>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">    
            <main id="products" class="col-11 products" style="display: none;">
                {% for item in cart %}
                {% with product=item.product %}
                    <div class="good-block position-relative">
                        <div class="row good-row">
                            <div class="col-xs-1 col-md-2 col-md-3 col-center">
                                {% first_product_image product.id as image %}
                                    {% if item.errors %}
                                        <div class="formset-field errors">
                                            {{ item.errors|cut:"\n" }}
                                        </div>
                                    {% endif %}
                                    <figure>
                                        <img 
                                            src="{{ MEDIA_URL }}{{ image }}"
                                            class="img-fluid rounded img-thumbnail thumbnail-150"
                                            alt="{{ product.name }}"
                                            style="border: none;"
                                        >
                                    </figure>
                            </div>
                            <div class="col-xs-1 col-sm-2 col-center">
                                <div class="row px-4 px-sm-0">
                                    <div><b>{{ product.name }}</b></div>
                                </div>
                                <div class="row px-4 px-sm-0">
                                    <div>Артикул: {{ product.articul }}<br>Вес: {{ item.weight }}<br>Размер: {{ item.size }}</div>
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-2 col-center">
                                <div class="form-outline cart__quantity--position">
                                    {% unique_id as id %}
                                    <input
                                        id="{{ id }}"
                                        value="{{ item.quantity }}"
                                        min="0"
                                        max="{{ product.stock }}"
                                        step="1"
                                        type="number"
                                        class="form-control"
                                    />
                                    <label for="{{ id }}" style="margin-bottom: 0px; margin-left: 5px;">{{ item.unit|get_unit_repr }}</label>
                                </div>
                            </div>
                            <div class="col-xs-1 col-sm-2 col-center">{{ item.price }} руб.</div>
                            <div class="col-xs-1 col-sm-2 col-center text-center">
                                <a href="{% url 'cart:cart_remove' product.id item.size %}">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endwith %}
                {% empty %}
                    <h5 class="text-center h-100">Ваша корзина пуста</h5>
                {% endfor %}
                <form id="createOrderForm" method="post" action="{% url 'cart:create' %}">
                    {% csrf_token %}
                </form>
                <p class="text-right">
                    <!-- <a 
                        href="{% url 'catalog:products' %}"
                        role="button"
                        class="btn btn-primary mb-2 mr-sm-2"
                    >
                        Продолжить покупки
                    </a> -->
                    <a
                        href="#"
                        onclick="document.getElementById('createOrderForm').submit();"
                        role="button"
                        class="btn btn-success mb-2 mr-sm-2"
                    >
                        Оформить заказ
                    </a>
                </p>
            </main>
            <main id="cart-table" class="col-11 products" style="display: none;">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Наименование</th>
                            <th scope="col">Характеристика</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Цена, руб.</th>
                            <th scope="col">Стоимость, руб.</th>
                            <th scope="col">Удалить</th>
                            {% if item.errors %}
                                <th scope="col"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cart %}
                        {% with product=item.product %}
                            <tr>
                                <th scope="row">{{ product.name }}</th>
                                <td>Артикул: {{ product.articul }}<br>Вес: {{ item.weight }}<br>Размер: {{ item.size }}</td>
                                <td>
                                    <div class="form-outline cart__quantity--position">
                                        {% unique_id as id %}
                                        <input
                                            id="{{ id }}"
                                            value="{{ item.quantity }}"
                                            min="0"
                                            max="{{ product.stock }}"
                                            step="1"
                                            type="number" 
                                            class="form-control"
                                        />
                                        <label for="{{ id }}" style="margin-bottom: 0px; margin-left: 5px;">{{ item.unit|get_unit_repr }}</label>
                                    </div>
                                </td>
                                <td>{{ item.price }}</td>
                                <td>{{ item.total_price }}</td>
                                <td class="text-center">
                                    <a href="{% url 'cart:cart_remove' product.id item.size %}">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                                {% if item.errors %}
                                    <td>
                                        <div class="formset-field errors">
                                            {{ item.errors }}
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endwith %}
                        {% endfor %}
                    </tbody>
                </table>
                <form id="createOrderFromTable" method="post" action="{% url 'cart:create' %}">
                    {% csrf_token %}
                </form>
                <p class="text-right">
                    <!-- <a 
                        href="{% url 'catalog:products' %}"
                        role="button"
                        class="btn btn-primary mb-2 mr-sm-2"
                    >
                        Продолжить покупки
                    </a> -->
                    <a
                        href="#"
                        onclick="document.getElementById('createOrderFromTable').submit();"
                        role="button"
                        class="btn btn-success mb-2 mr-sm-2"
                    >
                        Оформить заказ
                    </a>
                </p>
            </main>
        </div>
    </div>

	{% endblock %}
{% endblock %}
