{% extends "main.html" %}
{% load catalog_tags %}

{% block page %}
	{% block content %}

    <div style="display: none" id="brands" data-json="{{ brands }}"></div>
    <div style="display: none" id="collections" data-json="{{ collections }}"></div>

      <div class="row">
        <div class="container d-flex flex-column" id="filter-container"></div>

        <div style="display:none">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>

        <main id="products" class="col-md-9 products" style="display: none;">
            <div class="row">
              {% for product in products %}
                {% with product_id="id"|addparam:product.id%}
                <div class="col-3 col-lg-3 col-md-4 col-sm-12" data-json="{{ product_id|tojson }}">
                {% endwith %}
                {% include "components/product/card.html" with product=product %}
                </div>
              {% endfor %}
            </div>

          <nav aria-label="Pagination">
            <ul class="pagination justify-content-end">
              {% if paginator.page_range|length > 1 %}
              <li class="page-item">
                {% if page_obj.number == 1 %}
                  <a class="page-link page-item-selected--background" href="?page={{ 1 }}">{{ 1 }}</a>
                {% else %}
                  <a class="page-link" href="?page={{ 1 }}">{{ 1 }}</a>
                {% endif %}
              </li>
              {% endif %}

              {% if page_obj.has_previous %}
                <div style="width: 15px;"></div>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
              {% endif %}

              {% for page_number in paginator.page_range|slice:"1:" %}
                {% if page_obj.number == page_number and page_number != paginator.num_pages %}
                  <li class="page-item page-item-selected">
                    <a class="page-link page-item-selected--background" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% elif page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 and page_number != paginator.num_pages %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
              {% endfor %}
              
              {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <div style="width: 15px;"></div>
              {% endif %}

              {% if paginator.page_range|length > 1 %}
                <li class="page-item">
                  {% if page_obj.number == paginator.num_pages %}
                    <a class="page-link page-item-selected--background" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                  {% else %}
                  <a class="page-link" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                  {% endif %}
                </li>
              {% endif %}

            </ul>
          </nav>

        </main>

      </div>

	{% endblock %}
{% endblock %}
