{% extends "main.html" %}
{% load static %}
{% load catalog_tags %}

{% block page %}
	{% block content %}

    <div style="display: none" id="filters" data-json="{{ filters }}"></div>

      <div class="row">
        <div class="container col-xl-3 col-md-5 col-sm-6 col-xs-12">
            <div id="filter-container"></div>
        </div>

        <div style="display:none">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>

        <main class="col-xl-9 col-md-7 col-sm-6 col-xs-12 products products-list" >
            <div id="selected-filter-container" class="filter-badges__list"></div>
            <div id="products" style="visibility: hidden;">
                <div class="row">
                  {% for product in products %}
                    {% with product_id="id"|addparam:product.id%}
                    <div class="product-item__col col-xxl-3 col-xl-4 col-lg-6 col-md-12 col-sm-12 col-xs-12" data-json="{{ product_id|tojson }}">
                    {% endwith %}
                    {% include "components/product/card.html" with product=product %}
                    </div>

                    {% if forloop.counter == 12 %}
                        <div class="col-12 banner">
                          <img src="{% static 'img/banners/0001.jpg' %}" class="img-fluid" alt="Banner 1">
                          <!-- <div class="jumbotron jumbotron-fluid banner-jumbotron" style="background-image: url('/static/img/banners/0001.jpg');">
                              <img src="{% static 'img/banners/0001.jpg' %}" alt="Banner 1">
                          </div> -->
                        </div>
                    {% elif forloop.counter == 24 %}
                        <div class="col-12 banner">
                          <img src="{% static 'img/banners/0002.jpg' %}" class="img-fluid" alt="Banner 1">
                        </div>
                    {% endif %}
                  {% endfor %}
                </div>

                {% include "components/pagination/default_paginator.html" with paginator=paginator page_obj=page_obj %}
            </div>

        </main>

      </div>

	{% endblock %}
{% endblock %}
