{% extends "base.html" %}

{% block page %}
	{% block content %}

        <nav class="nav nav-pills nav-justified content-menu">
            <div class="d-flex flex-column flex-md-row">
                {% if id %}
                    <a
                    role="button"
                    class="btn btn-primary mb-2 mr-sm-2"
                    href="{% url 'clients:edit' id %}"
                    >                    
                        <span>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Редактировать
                        </span>
                    </a>
                {% else %}
                    <a
                    role="button"
                    class="btn btn-primary mb-2 mr-sm-2"
                    href="{% url 'clients:edit' %}"
                    >                    
                        <span>
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                            Добавить
                        </span>
                    </a>
                {% endif %}
            </div>
            <button
                id="settingButton"
                type="button"
                class="btn btn-success mb-2 mr-sm-2"
            >                    
                <span>
                    <i class="fa fa-cog" aria-hidden="true"></i>
                </span>
            </button>
        </nav>  

        <table class="table">
            <thead>
                <tr>
                <th scope="col">Город</th>
                <th scope="col">Юридический адрес</th>
                <th scope="col">Адрес доставки</th>
                <th scope="col">Вид оплаты</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>{{ data.city }}</td>
                <td>{{ data.legal_address }}</td>
                <td>{{ data.shoping_address }}</td>
                <td>{{ data.payment_type }}</td>
                </tr>
            </tbody>
        </table>

	{% endblock %}
{% endblock %}
