{% extends "main.html" %}
{% load humanize %}

{% block page %}
	{% block content %}

    <div class="container-fluid order-list-wrapper">
        <div class="order-list-wrapper__breadcrumb-wrapper">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'catalog:products' %}">Ювелирный интернет-магазин TALANT</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">Аккаунт</li>
                </ol>
            </nav>
        </div>

        <div class="row">
            <div id="contact-container" class="container col-3 contact-detail">

                <div class="font-weight-bold contact-detail__client">{{ client.name }}</div>
                <div class="font-weight-bold contact-detail__client">{{ manager }}</div>
                <div class="contact-detail__client__position"></div>
                <div>
                    <p class="font-weight-normal contact-detail__item-title">ИНН</p>
                    <span class="font-weight-bold contact-detail__item">{{ client.inn }}</span>
                    <div class="contact-detail__item__position"></div>
                </div>
                <div>
                    <p class="font-weight-normal contact-detail__item-title">Логин</p>
                    <span class="font-weight-bold contact-detail__item">Login {{ login.login }}</span>
                    <div class="contact-detail__item__position"></div>
                </div>

                {% if hash_inn %}
                <a href="{% url 'clients:change_pass' hash_id %}?usr={{ hash_inn }}" class="contact-detail__change_pass" target="_blank">Сменить пароль</a>
                {% endif %}
                <div class="contact-detail__change_pass__position"></div>

                <div class="font-weight-normal contact-detail__item">E-mail: {{ manager.email }}</div>
                <div class="font-weight-normal contact-detail__item">телефон: {{ manager.phone }}</div>
                <div class="contact-detail__item__position-x2"></div>

                <div>
                    <p>Ваш персональный менеджер:</p>

                    <p class="font-weight-bold contact-detail__manager_talant">{{ client.manager_talant }}</p>
                    <p class="font-weight-bold contact-detail__manager_talant">{{ client.manager_talant.email }}</p>
                    <p class="font-weight-bold contact-detail__manager_talant">{{ client.manager_talant.phone }}</p>
                </div>

            </div>

            <div class="container col-9">
                <div id="orders-container">

                    <div class="orders-detail">
                        <div class="orders__title">Заказы</div>
                        <div class="orders-detail__wrapper">
                            <div class="orders-items">
                                <table id="orders-items" class="table table__thead--border order-preview__table orders-list">
                                    <thead>
                                        <tr>
                                            <th scope="col" class="title">
                                                <span>
                                                    <i class="fa fa-sort-amount-desc"></i>
                                                    <i class="fa fa-sort-amount-asc"></i>
                                                    Заказ №
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                            </th>
                                            <th scope="col" class="title">
                                                <span>
                                                    <i class="fa fa-sort-amount-desc"></i>
                                                    <i class="fa fa-sort-amount-asc"></i>
                                                    Дата
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                            </th>
                                            <th scope="col" class="title">
                                                <span>
                                                    <i class="fa fa-sort-amount-desc"></i>
                                                    <i class="fa fa-sort-amount-asc"></i>
                                                    Сумма, руб.
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                            </th>
                                            <th scope="col" class="title">
                                                <span>
                                                    <i class="fa fa-sort-amount-desc"></i>
                                                    <i class="fa fa-sort-amount-asc"></i>
                                                    вес, гр.
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                            </th>
                                            <th scope="col" class="title">
                                                <span>
                                                    <i class="fa fa-sort-amount-desc"></i>
                                                    <i class="fa fa-sort-amount-asc"></i>
                                                    Кол-во, шт
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                            </th>
                                            <th scope="col" class="title">
                                                <span>
                                                    <i class="fa fa-sort-amount-desc"></i>
                                                    <i class="fa fa-sort-amount-asc"></i>
                                                    Статус
                                                    <i class="fa fa-angle-down"></i>
                                                    <i class="fa fa-angle-up"></i>
                                                </span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order in orders %}
                                        <tr>
                                            <td class="font-weight-bold">{{ order.id }}_{{ order.provision }}</td>
                                            <td class="font-weight-bold">{{ order.created_at|date:'d-m-Y' }}</td>
                                            <td class="font-weight-bold">{{ order.get_total_cost|floatformat:0|intcomma }}</td>
                                            <td class="font-weight-bold">{{ order.get_total_weight|floatformat:3 }}</td>
                                            <td class="font-weight-bold">{{ order.get_total_quantity|floatformat:0 }}</td>
                                            <td class="font-weight-bold">{{ order.get_status_display }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
    
        </div>

    </div>

	{% endblock %}
{% endblock %}
