<div name="gems" class="gems__block--indents">
    <table class="table table-sm gems-table">
        <tbody>
        {% for gem in gem_sets %}
            <tr>
                <th scope="row">*</th>
                {% if gem.precious_stone %}
                    <td>{{ gem.precious_stone }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if gem.cut_type %}
                    <td>{{ gem.cut_type }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if gem.quantity %}
                    <td>{{ gem.quantity }}</td>
                {% else %}
                    <td></td>
                {% endif %}
                {% if gem.weight %}
                    <td>{{ gem.weight }} ct</td>
                {% else %}
                    <td></td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>