{% extends "base.html" %}

{% block page %}
	{% block content %}
    <main role="main" class="col-lg-12 px-4">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <b>Заказ № {{ object.id }} от {{ object.created_at }}</b>
          </li>
        </ul>

        <form method="post">
            {% csrf_token %}
            {{ form }}

            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">Номенклатура</th>
                    <th scope="col">Серия</th>
                    <th scope="col">УИН</th>
                    <th scope="col">Вес</th>
                    <th scope="col">Размер</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Ед.изм.</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Скидка</th>
                    <th scope="col">Сумма</th>
                    <!-- <th scope="col">Тип цены</th> -->
                    <th scope="col"><i class="fa fa-trash" aria-hidden="true"></i></th>
                </thead>
                <tbody>
                    {{ order_items.management_form }}
                    {% for line in order_items %}
                        {% for hidden in line.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <tr>
                            {% for field in line %}
                                {% if field.name != "order" and field.name != "id" %}
                                    <td>{{ field }}
                                        <div class="formset-field{% if field.errors %} errors{% endif %}">
                                            {{ field.errors }}
                                        </div>
                                    </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>

    </main>
    {% endblock %}
{% endblock %}
