{% extends "main.html" %}
{% load order_tags %}

{% block page %}
	{% block content %}
        <div class="container-fluid order-list-wrapper">
            <div class="order-list-wrapper__breadcrumb-wrapper">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'catalog:products' %}">Ювелирный интернет-магазин TALANT</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Заказы</li>
                    </ol>
                </nav>
            </div>
            <div class="d-flex flex-row">
                <div class="order-list col-3">
                    {% include "components/orders/list.html" with orders=orders %}
                </div>
                <div id="order" class="order-detail__wrapper"></div>
            </div>
        </div>
	{% endblock %}
{% endblock %}
