{% extends "base.html" %}
{% load order_tags %}

{% block page %}
	{% block content %}

    <nav class="nav nav-pills nav-justified content-menu">
      <div class="d-flex flex-column flex-md-row">
        <a
            role="button"
            class="btn btn-success mb-2 mr-sm-2"
            href="#"
        >                    
            <span>
                <i class="fa fa-download" aria-hidden="true"></i>
                Загрузить
            </span>
          </a>
        <a
            role="button"
            class="btn btn-warning mb-2 mr-sm-2"
            href="#"
        >                    
            <span>
                <i class="fa fa-filter" aria-hidden="true"></i>
                Фильтр
            </span>
          </a>
        <div class="input-group search mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <a class="btn btn-outline-secondary" role="button" href="#" style="margin-right: 0px;">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </div>
          <input type="text" class="form-control" placeholder="Поиск">
        </div>
      </div>
      <button
          id="settingButton"
          type="button"
          class="btn btn-success mb-2 mr-sm-2 d-none d-md-block"
      >                    
          <span>
              <i class="fa fa-cog" aria-hidden="true"></i>
          </span>
      </button>
    </nav>

    <table class="table orders table__thead--border">
      <thead>
        <tr>
          <th scope="col" ></th>
          <th scope="col" >Номер</th>
          <th scope="col" >Дата</th>
          <th scope="col" >Статус</th>
          <th scope="col" >Сумма, руб.</th>
          <th scope="col" >Сумма с перс. скидкой, руб.</th>
          <th scope="col" >Вес, гр.</th>
          <th scope="col" >Кол-во, шт.</th>
          <th scope="col" >Услуги, руб.</th>
          <th scope="col" >Менеджер</th>
          <th scope="col" >Редактировать</th>
          <th scope="col" >Повторить</th>
          <th scope="col" >Отменить</th>
          <th scope="col" >PDF</th>
          <th scope="col" >XLSX</th>
        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr class="order-row" data-href="{% url 'orders:edit' order.id %}">
          <td id="order-box-{{ order.id }}" class="order-box"></td>
          <td>{{ order.id }}</td>
          <td>{{ order.created_at|date:"d.m.o h:i:s" }}</td>
          <td>{{ order.get_status_display }}</td>
          <td>{{ order.get_total_max_cost }}</td>
          <td>{{ order.get_total_cost }}</td>
          <td>{{ order.get_total_weight }}</td>
          <td>{{ order.get_total_quantity }}</td>
          <td>{{ order.get_total_service }}</td>
          <td>{{ order.manager }}</td>
          <td class="text-center">
            <a href="{% url 'orders:edit' order.id %}">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="{% url 'orders:create' order.id %}">
              <i class="fa fa-repeat" aria-hidden="true"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="{% url 'orders:remove' order.id %}">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="{% url 'orders:export-pdf' order.id %}" target="_blank">
              <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="{% url 'orders:export-xlsx' order.id %}">
              <i class="fa fa-download" aria-hidden="true"></i>
            </a>
          </td>
        </tr>

        <tr id="order-nested-{{ order.id }}" class="order-nested">
          {% with items=order_items|filter_by_id:order.id %}
          <td colspan="11" style="border: none;">
              <table class="table nested-table--position">
                  <thead>
                    <tr>
                      <th scope="col" ></th>
                      <th scope="col" ></th>
                      <th scope="col" >Серия</th>
                      <th scope="col" >УИН</th>
                      <th scope="col" >Вес</th>
                      <th scope="col" >Размер</th>
                      <th scope="col" >Кол-во</th>
                      <th scope="col" >Ед.изм.</th>
                      <th scope="col" >Цена</th>
                      <th scope="col" >Скидка</th> 
                      <th scope="col" >Сумма</th> 
                    </tr>
                  </thead>
                  <tbody>
                      {% for item in items%}
                      <tr>
                          <td>{{ forloop.counter }}</td>
                          <td>{{ item.product }}</td>
                          <td>{{ item.series }}</td>
                          <td>{{ item.uin }}</td>
                          <td>{{ item.weight }}</td>
                          <td>{{ item.size }}</td>
                          <td>{{ item.quantity }}</td>
                          <td>{{ item.get_unit_display }}</td>
                          <td>{{ item.price }}</td>
                          <td>{{ item.discount }}</td>
                          <td>{{ item.sum }}</td>
                      </tr>
                      {% endfor %}
                  </tbody>
              </table>
          </td>
          {% endwith %}
      </tr>

        {% endfor %}
      </tbody>
    </table>

	{% endblock %}
{% endblock %}
