{% extends "base.html" %}

{% block page %}
	{% block content %}

    <nav class="nav nav-pills nav-justified content-menu">
      <div class="d-flex flex-column flex-md-row">
        <a
            role="button"
            class="btn btn-success mb-2 mr-sm-2"
            href="#"
        >                    
            <span>
                <i class="fa fa-download" aria-hidden="true"></i>
                Загрузить
            </span>
          </a>
        <a
            role="button"
            class="btn btn-warning mb-2 mr-sm-2"
            href="#"
        >                    
            <span>
                <i class="fa fa-filter" aria-hidden="true"></i>
                Фильтр
            </span>
          </a>
        <div class="input-group search mb-2 mr-sm-2">
          <div class="input-group-prepend">
            <a class="btn btn-outline-secondary" role="button" href="#" style="margin-right: 0px;">
              <i class="fa fa-search" aria-hidden="true"></i>
            </a>
          </div>
          <input type="text" class="form-control" placeholder="Поиск">
        </div>
      </div>
      <button
          id="settingButton"
          type="button"
          class="btn btn-success mb-2 mr-sm-2 d-none d-md-block"
      >                    
          <span>
              <i class="fa fa-cog" aria-hidden="true"></i>
          </span>
      </button>
    </nav>

    <table class="table orders">
      <thead>
        <tr>
          <th scope="col">Номер</th>
          <th scope="col">Дата</th>
          <th scope="col">Статус</th>
          <th scope="col">Сумма, руб.</th>
          <th scope="col">Вес, гр.</th>
          <th scope="col">Кол-во, шт.</th>
          <th scope="col">Услуги, руб.</th>
          <th scope="col">Менеджер</th>
          <th scope="col">Повторить</th>
          <th scope="col">Отменить</th>

        </tr>
      </thead>
      <tbody>
        {% for order in orders %}
        <tr class="order-row" data-href="{% url 'orders:edit' order.id %}">
          <td>{{ order.id }}</td>
          <td>{{ order.created_at }}</td>
          <th scope="row">{{ order.get_status_display }}</th>
          <td>{{ order.get_total_cost }}</td>
          <td>{{ order.get_total_weight }}</td>
          <td>{{ order.get_total_quantity }}</td>
          <td>{{ order.get_total_service }}</td>
          <td>{{ order.manager }}</td>
          <td class="text-center">
            <a href="{% url 'orders:create' order.id %}">
              <i class="fa fa-repeat" aria-hidden="true"></i>
            </a>
          </td>
          <td class="text-center">
            <a href="{% url 'orders:remove' order.id %}">
              <i class="fa fa-ban" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

	{% endblock %}
{% endblock %}
