{% extends "base.html" %}
{% load order_tags %}

{% block page %}
	{% block content %}

    <main role="main" class="col-lg-12 px-4">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <b>Заказ № {{ object.id }} от {{ object.created_at }}</b>
          </li>
        </ul>

        <form method="post" autocomplete="off">

            <div id="empty-form" style="display: none;">{{ empty_items }}</div>
            <div id="sizes" style="display: none" data-json="{{ sizes }}"></div>
            <div id="fields" style="display: none" data-json="{{ order_fields }}"></div>

            <div class="order__order_header--position" style="display: none">
                {% csrf_token %}
                {{ form }}
            </div>

            <div class="order__order_header--position">
                {% for field in fields %}
                    <label for="{{ field.id }}">{{ field.label }}</label>
                    <input type="text" id="{{ field.id }}" class="form-control" value="{{ field.value }}" disabled/>
                {% endfor %}
            </div>

            <div class="row order__toolbar--position">
                <button
                    name="add-item" 
                    type="button"
                    class="btn btn-outline-secondary order__toolbar__btn order__toolbar__btn--position"
                >
                    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
                </button>
                <button
                    name="delete-item"
                    type="button"
                    class="btn btn-outline-secondary order__toolbar__btn order__toolbar__btn--position"
                >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                </button>
                <button
                    name="select-items"
                    type="button"
                    class="btn btn-outline-secondary order__toolbar__btn order__toolbar__btn--position"
                >
                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                </button>
                <button
                    name="unselect-items"
                    type="button"
                    class="btn btn-outline-secondary order__toolbar__btn order__toolbar__btn--position"
                >
                    <i class="fa fa-square-o" aria-hidden="true"></i>
                </button>
            </div>

            <table id="order_items" class="table table__thead--border">
                <thead>
                    <tr>
                    <th scope="col"><i class="fa fa-check-square-o" aria-hidden="true"></i></th>
                    <th scope="col">Номенклатура</th>
                    <th scope="col">Серия</th>
                    <th scope="col">УИН</th>
                    <th scope="col">Вес</th>
                    <th scope="col">Размер</th>
                    <th scope="col">Кол-во</th>
                    <th scope="col">Ед.изм.</th>
                    <th scope="col">Цена</th>
                    <th scope="col">Скидка</th>
                    <th scope="col">Сумма</th>
                    <!-- <th scope="col">Тип цены</th> -->
                </thead>
                <tbody id="order_items_formset" class="order_items">
                    {{ order_items.management_form }}
                    {% for line in order_items %}
                        {% for hidden in line.hidden_fields %}
                            {{ hidden }}
                        {% endfor %}
                        <tr class="order-product-item" style="display: table-row">
                            {% unique_id as id %}
                            <td><input type="checkbox" id="{{id}}" name="order-product-item-selection"></td>
                            {% for field in line %}
                                {% if field.name != "order" and field.name != "id" %}
                                    {% if field|is_hidden_field %}
                                        <td style="display: none;">{{ field }}</td>
                                    {% else %}
                                        <td>
                                            <div> {{ field }} </div>
                                            <div class="formset-field{% if field.errors %} errors{% endif %}">
                                                {{ field.errors }}
                                            </div>
                                        </td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>

    </main>
    {% endblock %}
{% endblock %}
