{% extends "main.html" %}
{% load catalog_tags %}

{% block page %}
	{% block content %}

    <div style="display: none" id="filters" data-json="{{ filters }}"></div>

        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'catalog:products' %}">Каталог</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                </ol>
            </nav>
        </div>

        <div class="row">

            <div style="display: none" class="container col-xl-3 col-md-5 col-sm-6 col-xs-12">
                <div id="filter-container"></div>
            </div>

            <main class="col-11 product-detail" >
                <div id="product">
                    {% include "components/product/info.html" with product=product gem_sets=gem_sets stock_and_cost=stock_and_cost cart=cart %}
                </div>
            </main>

        </div>

	{% endblock %}
{% endblock %}