{% extends "base.html" %}
{% load catalog_tags %}

{% block page %}
	{% block content %}

    <div style="display: none" id="brands" data-json="{{ brands }}"></div>
    <div style="display: none" id="collections" data-json="{{ collections }}"></div>

    <div class="container-fluid">
      <div class="row">
        <header class="col-md-3">
          <div class="btn-group goods-btn-group" role="group">
            <button id="Brend" type="button" class="btn btn-success goods-btn">Бренд</button>
            <button id="Assortment" type="button" class="btn btn-outline-warning goods-btn">Ассортимент</button>
          </div>
          <div id="brend-group" class="goods-menu-blocks" style="display: block;">
            <ul class="brend-group list-group">
            </ul>
          </div>
          <div id="collection-group" class="goods-menu-blocks" style="display: none;">
            <ul class="collection-group list-group">
            </ul>
          </div>
          <div class="goods-menu-blocks"></div>
          <div id="actions-group" class="goods-menu-blocks">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="{% url 'catalog:products' %}">Уцененные товары</a>
              </li>
              <li class="list-group-item">
                <a href="{% url 'catalog:сertificates' %}">Подарочные сертификаты</a>
              </li>
              <li class="list-group-item">
                <a href="{% url 'catalog:services' %}">Услуги</a>
              </li>
            </ul>
          </div>
        </header>

        <div style="display:none">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>

        <main id="products" class="col-md-9 products" style="display: none;">
          {% for product in products %}
            {% with product_id="id"|addparam:product.id%}
            <div class="good-block position-relative" data-json="{{ product_id|tojson }}">
            {% endwith %}
              <div class="row good-row">
                <div class="col col-center">
                  {% if product.status %}
                    <div class="product__block__status--position z-3">
                      {% with product_status="status"|addparam:product.status %}
                        <p name="product-status" class="text-dark" style="font-size: medium;" data-json="{{ product_status|tojson }}">
                          <b>{{ product.get_status_display }}</b>
                        </p>
                      {% endwith %}
                    </div>
                  {% endif %}
                  {% for image in product.get_images|slice:":1" %}
                    <figure>
                      <img 
                        src="{{ image }}"
                        class="img-fluid rounded img-thumbnail thumbnail-150"
                        alt="{{ product.name }}"
                        style="border: none;"
                      >
                    </figure>
                  {% endfor %}
                </div>
                <div class="col col-center">
                  <div class="row px-4 px-sm-0">
                    <a href="{% url 'catalog:product' product.id %}" class="stretched-link">{{ product.articul }}</a>
                  </div>
                  <div class="row px-4 px-sm-0">
                    <b>{{ product.name }}</b>
                  </div>
                  <div class="row px-4 px-sm-0">
                    {{ product.metal }} {{ product.metal_content }}` <br>
                    {{ product.brand }}
                  </div>
                </div>
                <div class="col col-center pt-4 price-block">
                    <div class="px-4 px-sm-0 mb-2 product__price-block--position">
                      <div class="product__price-block__row--position">
                        <div class="product__price-block__element--position weight"></div>
                        <div class="product__price-block__element--position price-per-weight"></div>
                      </div>
                    </div>
                    <div class="px-4 px-sm-0 product__price-block--position max-price"></div>
                    <div class="px-4 px-sm-0 product__price-block--position">
                      <div class="product__price-block__row--position">
                        <div class="product__price-block__element--position text-warning discount"></div>
                        <div class="product__price-block__element--position price">Цена --</div>
                      </div>
                    </div>
                </div>
                <div class="col col-center pt-5 mb-3 inStock-block">
                    <div class="px-4 px-sm-0" style="text-align: center;">
                      В наличии:
                    </div>
                    <div class="px-4 px-sm-0 in_stock" style="text-align: center;">
                      -- шт.
                    </div>
                    <div class="px-4 px-sm-0" style="text-align: center;">
                      <form id="cartForm-{{product.id}}" method="post" action="{% url 'cart:cart_add' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value=1 />
                        <input type="hidden" name="update" value="False" />
                        <input type="hidden" name="price" value="0" />
                        <input type="hidden" name="unit" value="796" />
                        <input type="hidden" name="size" value=0 />
                        <input type="hidden" name="weight" value=0 />
                      </form>
                      <div>
                        <input
                          name="add-to-cart"
                          type="button"
                          onclick="addToCart('cartForm-{{product.id}}');"
                          value="В корзину"
                          class="btn btn-outline-primary"/>
                      </div>
                    </div>
                    <div name="cart-row" class="px-4 px-sm-0 cart">
                      <a class="cart-element" href="#" onclick="delOneFromCart(this)">-</a>
                      <input 
                        type="text"
                        class="
                          form-control
                          cart-element
                          product__inStock-block__cart__input--position
                        "
                        readonly
                      >
                      <a class="cart-element" href="#" onclick="addOneToCart(this)">+</a>
                      <div name="cart-key" style="display: none;"></div>
                    </div>
                </div>
              </div>
            </div>
          {% endfor %}

          <nav aria-label="Pagination">
            <ul class="pagination justify-content-end">
              {% if paginator.page_range|length > 1 %}
              <li class="page-item">
                {% if page_obj.number == 1 %}
                  <a class="page-link page-item-selected--background" href="?page={{ 1 }}">{{ 1 }}</a>
                {% else %}
                  <a class="page-link" href="?page={{ 1 }}">{{ 1 }}</a>
                {% endif %}
              </li>
              {% endif %}

              {% if page_obj.has_previous %}
                <div style="width: 15px;"></div>
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">
                  <i class="fa fa-angle-left" aria-hidden="true"></i>
                </a>
              {% endif %}

              {% for page_number in paginator.page_range|slice:"1:" %}
                {% if page_obj.number == page_number and page_number != paginator.num_pages %}
                  <li class="page-item page-item-selected">
                    <a class="page-link page-item-selected--background" href="?page={{ page_number }}">{{ page_number }}</a>
                  </li>
                {% elif page_number >= page_obj.number|add:-2 and page_number <= page_obj.number|add:2 and page_number != paginator.num_pages %}
                  <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
                {% endif %}
              {% endfor %}
              
              {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                <div style="width: 15px;"></div>
              {% endif %}

              {% if paginator.page_range|length > 1 %}
                <li class="page-item">
                  {% if page_obj.number == paginator.num_pages %}
                    <a class="page-link page-item-selected--background" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                  {% else %}
                  <a class="page-link" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
                  {% endif %}
                </li>
              {% endif %}

            </ul>
          </nav>

        </main>

      </div>
    </div>

	{% endblock %}
{% endblock %}
