{% extends "base.html" %}
{% load catalog_tags %}

{% block page %}
	{% block content %}

        <div style="display:none">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>

        <main id="product">

            {% with product_id="id"|addparam:product.id%}
            <div id="good-block-{{product.id}}" class="good-block product__block--position" data-json="{{ product_id|tojson }}" style="all: unset">

                <div class="row product__block__row--nowrap">

                    <div class="col-2 product__col--position product__col__filters" style="height: 100vh; border-right: 1px solid lightgrey; max-width: 25vw;">
                        <div class="goods-menu-filters">
                            {% for filter_field in filters %}
                                <label for="{{ filter_field.auto_id }}">{{ filter_field.label }}:</label>
                                {{ filter_field }}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-10 product__col--position" style="align-content: stretch;">

                        <div class="row">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb" style="background-color: white;">
                                <li class="breadcrumb-item"><a href="{% url 'catalog:products' %}">Каталог</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
                                </ol>
                            </nav>
                        </div>
                        <div class="row product__block__row--wrap">
                            <div class="col product__col--position product__col__images">
            
                                {% if product.status %}
                                    <div class="product__card__status--position z-3">
                                    {% with product_status="status"|addparam:product.status %}
                                        <p class="product-status" style="font-size: 30px;" data-json="{{ product_status|tojson }}">
                                        {{ product.get_status_display }}
                                        </p>
                                    {% endwith %}
                                    </div>
                                {% endif %}

                                {% for image in product.get_images|slice:":1" %}
                                    <a href="{{ image }}" class="thumbnail product__block__img--position">
                                        <img
                                            src="{{ image }}"
                                            class="img-fluid rounded main-image"
                                            alt="{{ prod.name }}"
                                            style="max-width: 25vw;"
                                        >
                                    </a>
                                {% empty %}
                                    <img
                                        src="{{ MEDIA_URL }}/0.jpg"
                                        class="img-fluid rounded"
                                        alt="Пустое изображение"
                                    >
                                {% endfor %}
            
                                <div class="row"> 
                                    {% for image in product.get_images|slice:":7" %}
                                        <img 
                                            src="{{ image }}"
                                            class="
                                                img-fluid
                                                img-thumbnail
                                                thumbnail-50
                                                product__thumbnail__block
                                                product__thumbnail__block--design
                                                product__thumbnail__block--position"
                                            alt="{{ product.name }}"
                                        >
                                    {% endfor %} 
                                </div>

                                <div class="row" style="margin-bottom: 8px;">
                                    <div class="col-6">Комплекты</div>
                                    <div class="col-6">Аналоги</div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <div id="set-block" class="row">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div id="analogues-block" class="row">
                                        </div>
                                    </div>
                                </div>
            
                            </div>
                            <div class="col product__col--position product__col__info">
            
                                {% if product.articul %}
                                    <div> {{ product.articul }} </div>
                                {% else %}
                                    <div> Артикул: -- </div>
                                {% endif %}
                                <div class="product__col__info--title">{{ product.name }}</div>
                                &nbsp;
                                <p><u>{{ product.color }} {{ product.metal|lower }} {{ product.metal_content|lower }}</u></p>
                                &nbsp;
                                {% if product.collection.group %}
                                    <p><u>Коллекция   - {{ product.collection.group|lower }}</u></p>
                                {% endif %}
                                {% if product.brand %}
                                    <p><u>Бренд:        {{ product.brand|upper }}</u></p>
                                {% endif %}
                                {% if product.gender %}
                                    <p>{{ product.get_gender_display|lower }}</p>
                                {% endif %}
                                
                                &nbsp;
                                <div class="product__block__size-container" style="display: flex; flex-direction: row; align-items: flex-start;">
                                    <div id="size-block" class="row product__block__size-row--position">
                                    </div>
                                </div>
                                &nbsp;

                                <ul id="product-info-tabs" class="nav nav-tabs">
                                    <li class="nav-item">
                                      <a name="gems"
                                        class="product-details nav-link active"
                                        href="#"
                                      >Вставки</a>
                                    </li>
                                    <li class="nav-item">
                                      <a name="description"
                                        class="product-details nav-link"
                                        href="#"
                                      >Описание</a>
                                    </li>
                                    <li class="nav-item">
                                      <a name="guarantees"
                                        class="product-details nav-link"
                                        href="#"
                                      >Гарантии</a>
                                    </li>
                                </ul>

                                <div id="gemsForm" style="display: block;">
                                    {% include 'pages/gems.html' %}
                                </div>

                                <div id="descriptionForm" style="display: none;">
                                </div>
                
                                <div id="guaranteesForm" style="display: none;">
                                </div>
            
                            </div>
                            <div id="fake-col" style="width: 20vw; display: flex;"></div>
                            <div class="col product__col--position product__col__prices" style="max-width: 20vw; display: none;">
                            
                                <div class="product__price-card__element discount" style="padding-top: 25px;">
                                    <input
                                    type="button"
                                    value="АКЦИЯ"
                                    class="btn btn-outline-warning"
                                    style="width: 150px;"/>
                                </div>
                                
                                <div class="
                                    product__price-card__element
                                    product__price-card__element--discount
                                    text-warning
                                    discount"
                                    style="padding-top: 20px;">
                                        <p id="discount-block"></p>
                                </div>
                                <div class="
                                    product__price-card__element
                                    product__price-card__element--price">
                                        <p id="price-block"></p>
                                </div>
                                <div class="
                                    product__price-card__element
                                    product__price-card__element--max-price
                                    px-4 px-sm-0 max-price">
                                        <p id="max-price"></p>
                                </div>
                                <div class="
                                    product__price-card__element
                                    product__price-card__element--price-per-weight">
                                        <p id="price-per-weight"></p>
                                </div>

                                <form id="cartForm-{{product.id}}" method="post" action="{% url 'cart:cart_add' product.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="quantity" value=1 />
                                    <input type="hidden" name="update" value="False" />
                                    <input type="hidden" name="price" value="0" />
                                    <input type="hidden" name="unit" value="796" />
                                    <input type="hidden" name="size" value=0 />
                                    <input type="hidden" name="weight" value=0 />
                                </form>
                                <div class="product__price-card__element">
                                    <input
                                    id="cartForm-{{product.id}}"
                                    name="add-to-cart"
                                    type="button"
                                    value="В корзину"
                                    class="btn btn-outline-warning"
                                    style="width: 150px;"/>
                                </div>
                                <div name="cart-row" class="px-4 px-sm-0 cart product__price-card__element--cart">
                                    <a class="cart-element delOneFromCart" href="#">-</a>
                                    <input 
                                      type="text"
                                      class="
                                        form-control
                                        cart-element
                                        product__inStock-block__cart__input--position
                                      "
                                      readonly
                                    >
                                    <a class="cart-element addOneToCart" href="#">+</a>
                                    <div name="cart-key" style="display: none;"></div>
                                </div>
                                <div class="
                                    product__price-card__element
                                    product__price-card__element--instock">
                                        <p id="in_stock"></p>
                                </div>

                            </div>
                        </div>

                    </div>
                    
                </div>

            </div>
            {% endwith %}

        </main>
	{% endblock %}
{% endblock %}