{% extends "base.html" %}
{% load catalog_tags %}

{% block page %}
	{% block content %}
        <div style="display: none" id="collections" data-json="{{ collections }}"></div>
        <div style="display: none" id="sizes" data-json="{{ sizes }}"></div>
        <div style="display: none" id="price" data-json="{{ price }}"></div>
        {% with gender="gender"|addparam:prod.get_gender_display collection="collection"|addparam:prod.collection.id instok="instok"|addparam:prod.stock %}
            <div 
            id="product-{{product.id}}"
            class="good-block-info"
            style="display: none;"
            data-json="{{ product_info|addtojson:gender|addtojson:collection|addtojson:instok|tojson }}"
            ></div>
        {% endwith %}
        <div class="product__block--position">

            <nav aria-label="breadcrumb">
                <ol class="breadcrumb" style="background-color: white;">
                <li class="breadcrumb-item"><a href="{% url 'catalog:products' %}">Каталог</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{prod.name}}</li>
                </ol>
            </nav>

            <div class="row justify-content-center" style="margin-bottom: 20px;">
                <div class="col-4 product__block--indents">
                    <div class="product__block--position">

                        {% for image in prod.get_images|slice:":1" %}
                            <a href="{{ image }}" class="thumbnail product__block__img--position">
                                <img
                                    src="{{ image }}"
                                    class="img-fluid rounded"
                                    alt="{{ prod.name }}"
                                >
                            </a>
                        {% empty %}
                            <img
                                src="{{ MEDIA_URL }}/0.jpg"
                                class="img-fluid rounded"
                                alt="Пустое изображение"
                            >
                        {% endfor %}

                        <div class="row"> 
                            {% for image in prod.get_images|slice:":10" %}
                                <a href="{{ image }}">
                                    <img 
                                        src="{{ image }}"
                                        class="
                                            img-fluid
                                            img-thumbnail
                                            thumbnail-50
                                            product__thumbnail__block--design
                                            product__thumbnail__block--position"
                                        alt="{{ prod.name }}"
                                    >
                                </a>
                            {% endfor %} 
                        </div>
                    </div>

                </div>
                <div class="col-4 product__block--indents">
                    <p>Наименование: <b>{{ prod.name }}</b></p>
                    <p>Артикул: <b>{{ prod.articul }}</b></p>
                    <p>Коллекция:  <b>{{ prod.collection }}</b></p>
                    <p>Бренд:  <b>{{ prod.brand }}</b></p>
                    <p>Гендер:  <b>{{ prod.get_gender_display }}</b></p>
                    <p>Металл:  <b>{{ prod.metal }} {{ prod.metal_content }}</b></p>

                    <p>Размеры:</p>
                    <div class="row" style="margin: 0px; padding-bottom: 16px;">
                        {% for item in sizes|loadjson %}
                            <div class="
                                col
                                text-center
                                product__size__block
                                product__size__block--design
                                product__size__block--position"
                            >
                                {{ item.fields.size }}
                            </div>
                        {% endfor %}
                    </div>

                    <p>Вес:  <b id="product_weigth">{{ prod.weight }} грамм</b></p>

                </div>
                {% with current_price=price|loadjson|first %}
                {% if current_price %}
                    <div class="col-3 product__block--indents">
                        <p>Цена: <b id="product_price">{{ current_price.fields.price }} руб.</b></p>
                        <p>В наличии: <b>{{ prod.stock }} {{ current_price.fields.unit|get_unit_repr }}</b></p>
                        <form id="cartForm-{{prod.id}}" method="post" action="{% url 'cart:cart_add' prod.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="update" value="False" />
                            <input type="hidden" name="price" value="{{ price.actual_price|stringformat:'1.2f' }}" />
                            <input type="hidden" name="unit" value="{{ price.unit }}" />
                        </form>
                        <a href="#" onclick="document.getElementById('cartForm-{{prod.id}}').submit();">в Корзину</a>
                    </div>
                {% else %}
                    <div class="col-3 product__block--indents">
                        <p>Цена: <b>--</b></p>
                        <p>В наличии: <b>--</b></p>
                        <form id="cartForm-{{prod.id}}" method="post" action="{% url 'cart:cart_add' prod.id %}">
                            {% csrf_token %}
                            <input type="hidden" name="quantity" value="1" />
                            <input type="hidden" name="update" value="False" />
                            <input type="hidden" name="price" value="0" />
                            <input type="hidden" name="unit" value="796" />
                        </form>
                        <a href="#" onclick="document.getElementById('cartForm-{{prod.id}}').submit();">в Корзину</a>
                    </div>
                {% endif %}
                {% endwith %}
            </div>

            <ul class="nav nav-tabs product__nav--indents">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Характеристики</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Аксессуары</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="#">Аналоги</a>
                </li>
            </ul>

        </div>
	{% endblock %}
{% endblock %}