{% extends "main.html" %}
{% load static %}

{% block page %}
	{% block content %}

    <div class="container-fluid promotions">

        <div class="row">
            <div class="col-2">
                <p>
                    <a href="{% url 'settings_and_conditions:promo' %}">Акции</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:policy' %}">Политика в отношении обработки персональных данных</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:guarantee' %}">Гарантия и возврат</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:delivery' %}">Доставка</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:about' %}">О заводах TALANT</a>
                </p>
            </div>
            <div class="col-10">
                <main id="promotions" >
                    {% if description %}
                        <div>{{ description|safe }}</div>
                    {% endif %}
                </main>
            </div>
        </div>

    </div>

	{% endblock %}
{% endblock %}
