{% extends "main.html" %}

{% block page %}
	{% block content %}

    <div class="container-fluid">
      <div class="row">
        <header class="col-md-3">
          <div class="goods-menu-blocks"></div>
          <div id="actions-group" class="goods-menu-blocks">
            <ul class="list-group">
              <li class="list-group-item">
                <a href="{% url 'catalog:products' %}">Товары</a>
              </li>
              <li class="list-group-item">
                <a href="{% url 'catalog:products' %}">Уцененные товары</a>
              </li>
              <li class="list-group-item">
                <a href="{% url 'catalog:services' %}">Подарочные сертификаты</a>
              </li>
            </ul>
          </div>
        </header>

        <div style="display:none">
          <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
        </div>

        <main id="products" class="col-md-9 products">
          {% for service in services %}
            <div class="good-block">
              <div class="row good-row">
                <div class="col-8"><a href="#">Карточка услуги</a></div>
                <div class="col-4"><a href="#">в Корзину</a></div>
              </div>
              <div class="row good-row">
                <div class="col-8">{{ service.name }}</div>
                <div class="col-4">Стоимость: {{ service.price_per_gr }} руб.</div>
              </div>
            </div>
          {% endfor %}

          <nav aria-label="Pagination">
            <ul class="pagination justify-content-end">
              {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Предыдущая</a>
              {% endif %}
              {% for page_number in paginator.page_range %}
                <li class="page-item"><a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a></li>
              {% endfor %}
              {% if page_obj.has_next %}
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" tabindex="-1">Следующая</a>
              {% endif %}
            </ul>
          </nav>          

        </main>

      </div>
    </div>

	{% endblock %}
{% endblock %}
