{% extends "main.html" %}
{% load static %}

{% block page %}
	{% block content %}

    <div class="container-fluid where-to-buy">

        <div class="row">
            <div class="col-2">
                <p>
                    <a href="{% url 'settings_and_conditions:promo' %}">Акции</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:policy' %}">Политика в отношении обработки персональных данных</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:guarantee' %}">Гарантия и возврат</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:delivery' %}">Доставка</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:about' %}">О заводах TALANT</a>
                </p>
            </div>
            <div class="col-10">
                <main id="where-to-buy" >
                    <!-- <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0725daf6bc79d12f6db02c65092d25dcd4cbfa08b0d44f894c8222afde235a48&amp;width=100%&amp;height=541&amp;lang=ru_RU&amp;scroll=true"></script> -->
                </main>
            </div>
        </div>

    </div>

	{% endblock %}
{% endblock %}