{% extends "main.html" %}
{% load static %}

{% block page %}
	{% block content %}

    <script type="text/javascript">

        async function initMap() {
            await ymaps3.ready;
            const {YMap, YMapDefaultSchemeLayer, YMapDefaultFeaturesLayer, YMapMarker} = ymaps3;
        
            const addresses = document.getElementById('markers');
            const markers = JSON.parse(addresses.textContent);

            if (markers === undefined || markers.length == 0) return;

            const map = new YMap(
                document.getElementById('where-to-buy'),
                {
                    location: {
                        center: [markers[0].lng, markers[0].lat],
                        zoom: 5
                    },
                    searchControlProvider: 'yandex#search',
                    showScaleInCopyrights: true
                }
            );
        
            map.addChild(new YMapDefaultSchemeLayer());
            map.addChild(new YMapDefaultFeaturesLayer());

            markers.forEach((marker) => {
                let coordinate = [marker.lng, marker.lat];
                // Создание маркера
                const el = document.createElement('img');
                el.className = 'map-marker';
                el.src = "/static/img/map-icon.svg";
                el.title = '';
                el.onclick = () => map.update({
                    location: {
                        center: coordinate,
                        zoom: 15
                    }
                });

                // Создание заголовка маркера
                const markerTitle = document.createElement('div');
                markerTitle.className = 'marker-title';
                markerTitle.innerHTML = '';

                // Контейнер для элементов маркера
                const imgContainer = document.createElement('div');
                imgContainer.appendChild(el);
                imgContainer.appendChild(markerTitle);

                map.addChild(new YMapMarker({coordinates: coordinate}, imgContainer));

            });

        }

        document.addEventListener("DOMContentLoaded", () => {
            if (document.getElementById('where-to-buy'))
                initMap();
        });

    </script>

    <div class="container-fluid where-to-buy">
        <div id="markers" style="display: none;">{{ json_context }}</div>
        <div class="row">
            <div class="col-2">
                <p>
                    <a href="{% url 'settings_and_conditions:promo' %}">Акции</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:policy' %}">Политика в отношении обработки персональных данных</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:guarantee' %}">Гарантия и возврат</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:delivery' %}">Доставка</a>
                </p>
                <p>
                    <a href="{% url 'settings_and_conditions:about' %}">О заводах TALANT</a>
                </p>
            </div>
            <div class="col-10">
                <div class="row">
                    <div class="col-8">
                        <h3 class="where-to-buy__item-title">Ювелирный завод «Талант»</h3>
                        {% for marker in context %}
                            <div class="where-to-buy__item-row">
                                <span class="where-to-buy__item-icon-wrapper">
                                    <img src="{% static 'img/icon-map-pin-gray.svg' %}" alt="" loading="lazy">
                                </span>
                                <span>{{ marker.address }}</span>
                            </div>
                        {% endfor %}
                        {% with first_marker=context|first %}
                            <div class="where-to-buy__item-row">
                                <span class="where-to-buy__item-icon-wrapper">
                                    <img src="{% static 'img/icon-phone-gray.svg' %}" alt="" loading="lazy">
                                </span>
                                <a href="tel:{{ first_marker.phone }}">
                                    <span>{{ first_marker.phone }}</span>
                                </a>
                            </div>
                            <div class="where-to-buy__item-row">
                                <span class="where-to-buy__item-icon-wrapper">
                                    <img src="{% static 'img/icon-mail-gray.svg' %}" alt="" loading="lazy">
                                </span>
                                <a href="mailto:{{ first_marker.email }}">
                                    <span>{{ first_marker.email }}</span>
                                </a>
                            </div>
                        {% endwith %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        {% with first_marker=context|first %}
                            {% if first_marker.image %}
                                <img src="{{ first_marker.get_image }}" class="img-fluid" alt="where to buy">
                            {% else %}
                                <main id="where-to-buy" >
                                </main>
                            {% endif %}
                        {% endwith %}

                    </div>
                </div>
            </div>
        </div>

    </div>

	{% endblock %}
{% endblock %}