.product-item{
  transition: all 0.25s;
  position:relative; left:0; top:0;
  border:none;

  .product-item__brand{
    font-size: 0.75em;
  }
  .product-item__tags{
    font-size: 1em;
    white-space: nowrap;
    position:absolute; right:18px; top:12px; z-index: -1;

    .order__status{
      min-width:110px;
      background:#ADADAA;
      text-align:center;
      text-transform: uppercase;
      padding:5px 0;
    }
  }
  .card-body{
    height: 378px;
    padding:13px 10px;
    border:1px solid #A1A1A1;
    opacity:90%;

    .card-body__inner-row{
      margin-left:0;
      margin-right:0;
      & > .col{
        padding-left:0;
        padding-right:0;
      }
    }

    .carousel{
      min-height:210px;
      max-height: 210px;
      line-height: 210px;
      vertical-align: middle;
      z-index: -1;

      figure{
        margin:0;
      }
    }

    .product-item__name{
      height: 57px;
      padding-top:9px;
    }

    .price-block{
      padding-right:5px;
    }

    .product__price-block__row--position{
      padding-top:25px;
      font-size:20px;
      .product__price-block__element--position{
        margin-right:0
      }

      .max-price {
          font-size: 0.8em;
          color:#ADADAA;
          text-decoration: line-through;
          i{
            font-size:0.66em;
          }
      }
    }
    .price{
      font-weight: 600;
      i{
        font-size:0.66em;
      }
    }
    .inStock-block{
      padding:6px 0 0;
      .cart{
        position: relative;
        z-index: 10;
        border-radius: 5px;
        border: 1px solid #E3A358;
        margin:0 5px;
        .cart-element{
          color:#000;
          text-align:center;
        }
        input{
          background:#fff;
          box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
          margin:4px 8px;
          height:30px;
          font-weight:600;
          padding:0;
          width: 38px;
          font-size: 16px;
        }
      }
      .inStock-block__value {
        font-size: .75em;
        padding-bottom:2px;
      }
      .add-to-cart__button{
        width:136px;
        font-weight: 600;
        position: relative;
        z-index: 10;
        &:focus,
        &:hover{
          color:#fff
        }
      }
    }


  }
  .product-item__additional-data{
      padding-top:9px;
      padding-bottom:6px;
      position:absolute; left:0; top:100%; z-index: 2;
      border:1px solid #A1A1A1;
      border-top:none;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

      .product-item__articul{
        font-weight: 700;
        font-size: 14px;
        margin-bottom:-2px;
      }
      .product-item__weight{
        display: none;
        font-size: 12px;

        &:after{
          content:"\00a0"
        }
      }
      .product-item__price-per-gramm{
        font-size: 12px;
        i{
          font-size:0.95em
        }
      }
    }
  &:hover{
    border-bottom:none;
    .card-body{
      position:relative; left:0; top:0; z-index: 1;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border-bottom:none;
    }

    .product-item__additional-data{
      display: block!important;


      z-index: 4;
      background:#fff;
    }
  }
}
