.product-detail {
  &__path {
    margin-left: 0px;
    padding-top: 0px;
  }

  &__filter-container {
    margin-right: 0px;
    padding: 0 0 0 0px !important;
  }

  .product-detail__articul{
    line-height: 26px;
    color: #010202;
    font-size: 24px;
  }

  .product-detail__title{
    color: #010202;
    font-size: 32px;
    font-weight: 700;
  }

  &__list-unstyled {
    text-decoration-line: underline;

    &__link:hover {
      cursor: pointer;
    }
  }

  .product-item__tags{
    font-size: 1em;
    white-space: nowrap;
    position:absolute; right:34px; top:16px; z-index: 11;

    // .order__status{
    //   min-width:110px;
    //   background:#ADADAA;
    //   text-align:center;
    //   text-transform: uppercase;
    //   padding:5px 0;
    // }
  }

  .product-detail__slider{
    // max-width: 406px;
    // margin-right: 10px;

    .carousel{
      .carousel-container{
        display: flex;
        justify-content: flex-start;
      }
      .carousel-item{
        min-height:270px;
        line-height: 270px;
        vertical-align: middle;
        max-height: 374px;
        img{
          width:100%;
          height: 100%;
          object-fit: contain;
        }
      }

      .carousel-navigation{
        padding-top: 15px;
        .carousel-indicators{
          position: static;
          justify-content: left;
          gap: 10px;
          margin:0; padding:0;
          li{
            display: inline-block;
            padding: 0;
            width: 32px;
            height:32px;
            border:none;
            box-sizing: border-box;
            box-shadow: 2px 2px 4px 0 #b8b8b8;
            border-radius: 3px;
            overflow: hidden;

            &.active{
              border:1px solid #E3A358;
              box-shadow: 2px 2px 4px 0 #E3A358;
            }
            img{
              display: block;
              width: 100%;
              height:100%;
              object-fit: cover;
            }

          }
        }

      }

      img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        vertical-align: middle;
      }
    }
  }

  &__images-carousel {
    max-width: 365px;
  }

  .product__col--position {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-content: space-between;
    margin-right: 0;
  }

  .product__col__info{
    padding-left:6px;

    .product-detail_main-info{
      ul{
        padding:0 0 14px; margin:0;
        li{
          padding:3px 0 6px;
        }
      }
    }
  }

  &__similar-products {
    gap: 57px;
    width: 405px;
    margin-top: 45px;
    margin-left:0;
  }

  &__similar-products-list-wrapper {
    width: 174px;

    .slick-track {
      display: flex;
      gap: 9px;
    }
  }

  &__similar-products-title {
    margin-bottom: 9px;
    color: #E3A358;
    font-size: 13px;
  }

  &__similar-products-carousel-item {
    height: 52px;
    width: 52px;
    border-radius: 3px;
  }

  &__similar-products-carousel-arrow {
    position: absolute;
    top: 20px;
    display: block;
    height: 16px;
    width: 9px;
    padding: 0;
    border: none;
    background-color: transparent;
    background-size: cover;

    &.slick-prev {
      left: -18px;
      transform: rotate(180deg);
    }

    &.slick-next {
      right: -18px;
    }
  }

  &__sizes-container {
    width: 440px;
    margin-right: 5px;

    &--hidden {
      visibility: hidden;
      height: 0;
    }
  }

  .product__block__size-row--position{
    width: 100%;

    .slider{ display: block }
    .slick-track{
      margin:0
    }

    .slick-arrow{
      top:42px;
      bottom:64px;

      &:first-child, &:last-child {
        top: 155px;
      }
    }
    .product__block__group-title {
        span {
          display: none;
        }
      }
    .slick-current{
      .product__block__group-title {
        span {
          display: inline;
        }
      }
    }
  }
  .product__block__sizes{
    margin-right: 8px;

    .product__block__group-title{
      align-self: baseline;
      margin-right: -120px;

      &:after{
        content: "\00a0"
      }
    }

    .size-button{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .product__block__group{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 14px;

      &.product__block__group-weight{
        padding-bottom: 7px;
      }
      &.product__block__group-stock{
        padding-bottom: 6px;
      }
      &.product__block__group-size{
        .product__block__group-value{
          margin-top:-5px;
        }
      }
    }

    .product__block__group-value{
      color: #010202;
      text-align: center;
      font-size: 13px;
      font-weight: 700;
      vertical-align: middle;
      .input{
        display: inline-block!important; // hack avoiding hiding from @TODO: js need refactor
        a{
          color:#000;
          font-size: 14px;
          font-weight: 700;
        }
      }
    }
  }
  .product__col__prices {
    margin-top: 35px;

    .product__price-card__element--price {
      flex: none;
      margin-top: 30px;
      margin-right: 14px;
      font-size: 32px;
      font-weight: 700;

      p {
        margin:0;
      }
    }
    .product__price-card__element--max-price{
      font-size: 14px;
    }
  }

  &__price-rub {
    font-size: 16px;
  }

  &__total-price-info {
    flex: none;
  }

  &__add-cart-btn {
    width: 137px;
    margin-bottom: 10px;
  }

  &__total-items-weight-in-cart {
    font-size: 12px;
  }

  &__nav-tabs {
    border-bottom: 1px solid #D9D9D9;
  }

  &__tab-nav-link {
    padding: 3px 23px;
    background-color: transparent;
    font-size: 13px;
    color: #ADADAA;

    &.active {
      border-radius: 3px !important;
      border-color: #D9D9D9 #D9D9D9 transparent !important;
      color: #E3A358 !important;
    }
  }

  &__tab-content {
    border: 1px solid #D9D9D9;
    border-top-color: transparent;
    border-radius: 3px;
    padding: 25px;
    font-family: inherit;
    font-size: 16px;
  }


  .tab-pane-text {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

}

.product-item{
  transition: all 0.25s;
  position:relative; left:0; top:0;
  border:none;

  .inStock-block{
    padding:0px 0 0;
    .cart{
      position: relative;
      z-index: 10;
      border-radius: 5px;
      border: 1px solid #E3A358;
      margin:0 0px;
      .cart-element{
        color:#000;
        text-align:center;
      }
      input{
        background:#fff;
        box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
        margin:4px 8px;
        height:30px;
        font-weight:600;
        padding:0;
        width: 38px;
        font-size: 16px;
      }
    }
    .inStock-block__value {
      font-size: .75em;
      padding-bottom:2px;
    }
    .add-to-cart__button{
      width:136px;
      font-weight: 600;
      position: relative;
      z-index: 10;
      &:focus,
      &:hover{
        color:#fff
      }
    }
  }

  &:hover{
    border-bottom:none;
    .card-body{
      position:relative; left:0; top:0; z-index: 1;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      border-bottom:none;
    }

  }
}


.img-form{

  .img-form-container{
    position: relative;
  }

  .img-form-nav-left{
    position: absolute;
    height: 100%;
    width: 15%;
    z-index: 11;

    img {
      position: relative;
      top: 45%;
      height: 70px;
      margin-left: 20px;
      transform:rotate(180deg);
    }

    img:hover {
      cursor: pointer;
    }
  
  }

  .img-form-nav-right{
    position: absolute;
    right: 0;
    height: 100%;
    width: 15%;
    z-index: 11;

    img {
      position: relative;
      top: 45%;
      height: 70px;
      right: -54px;
    }

    img:hover {
      cursor: pointer;
    }
  
  }

  .play-button{
    position: absolute;
    top: 43%;
    left: 45%;
    width: 90px;
    height: 90px;
    z-index: 11;
  }

  .play-button:hover{
    cursor: pointer;
  }

}