.products-list{

  .product-item{
    margin-bottom: 28px;
  }

  .banner{
    margin-bottom: 29px;

    .banner-jumbotron {
      background-color: white;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;

    }

    @media (min-width: 1900px) {
      img{
        width:1320px;
      }
    }

    @media (min-width: 2247px) {
      img{
        width:100%;
      }
    }

    @media (min-width: 2248px) {
      img{
        width:1656px;
      }
    }

    @media (min-width: 2696px) {
      img{
        width:100%;
      }
    }

  }

  @media (max-width: 1300px) {
    .product-item__col{
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
  @media (max-width: 1300px) {
    .product-item__col{
      flex: 0 0 100%;
      max-width: 100%;
    }
  }

  @media (min-width: 1700px) {
    .product-item__col.col-xl-4 {
      flex: 0 0 25%;
      max-width: 25%;
        //padding-right: 300px;
    }
  }

  @media (min-width: 1900px) {
    .product-item__col.col-xl-4{
      max-width:337px;
    }
  }

  .search-error {

    &__header {
      font-size: 16px;
      font-weight: 400;
    }

    &__info {
      font-size: 12px;
      font-weight: 400;
      color: #92959A;
    }

    button {
      border: none;
      border-radius: 3px;
      color: white;
      width: 156px; height: 38px;
      background-color: #E3A358;
      font-weight: 700;
      font-size: 16px;
    }

  }

}