.order-preview {
  &__edit-btn {
    display: inline-block;
    height: 22px;
    width: 22px;
    margin-right: 9px;

    &:hover {
      text-decoration: none;
    }
  }

  &__edit-btn-icon {
    display: block;
    height: 100%;
    width: 100%;
  }

  &__cart-row.error {
    td {
      border-color: #E3A358 !important;
    }

    .order-preview__cart-row-warning-logo {
      display: block;
      margin-right: 13px;
    }
  }

  &__cart-row-warning {
    padding: 0 !important;
    border: none !important;
  }

  &__cart-row-warning-logo {
    display: none;
    width: 30px;
    height: 26px;
  }
}

table.order-preview__table{
    max-width: 1000px;
    margin:48px auto 16px; padding:0;
    border-collapse: separate;
    border-spacing: 0 8px;
    position:relative; left:-11px; top:0; z-index: 1;
    tr{
      th{
        margin:0;
        padding:0 6px 0;
        border:none;
        color: #ADADAA;
        font-size: 14px;
        font-weight: 400;
        text-align-last: left;

        &.image{
          width:76px;
        }
        &.articul{
          width:168px;
        }
        &.metal{
          width:126px;
        }
        &.size{
          width:90px;
        }
        &.weight{
          width:90px;
        }
        &.price{
          width:100px;
        }
        &.quantity{
          width:100px;
          text-align-last: center;
        }
        &.total_weight{
          width:104px;
          text-align-last: center;
        }
        &.total_price{
          width:104px;
          text-align-last: center;
        }
        span{
          display: block;
          text-align: center;
        }
        i.fa-sort-amount-desc,
        i.fa-sort-amount-asc{
          display: none;
          transform: scale(0.7);
        }
        i.fa-angle-down,
        i.fa-angle-up {
          display: none;
          margin-left: auto;
          transform: scale(1.4);
        }
        &.tablesorter-headerAsc{
          i.fa-sort-amount-asc,
          i.fa-angle-down, {
            display: inline-block
          }
        }
        &.tablesorter-headerDesc{
          i.fa-sort-amount-desc,
          i.fa-angle-up {
            display: inline-block
          }
        }
        &.tablesorter-headerAsc,
        &.tablesorter-headerDesc{
          span{
            display: flex;
            height: 18px;
            align-items: center;
            gap: 10px;
            padding: 0 10px 0 29px;
            border:1px solid #000;
            border-radius: 9px;
            line-height: 18px;
            white-space: nowrap;
            color:#000;
          }
        }
      }
      td{
        border:1px solid #EAEAEB;
        border-left:none;
        border-right:none;
        margin:4px 0;
        padding:6px 6px 4px;
        vertical-align: middle;
        white-space: nowrap;

        &:nth-child(2){
          border-radius: 3px 0 0 3px;
        }
        &.total_price{
          border-right:1px solid #EAEAEB;
          border-radius: 3px 3px 3px 3px;
          text-align: center;
        }
        &.errors,
        &.actions{
          border:none;
        }
        &.image {
          border-left:1px solid #EAEAEB;
          border-radius: 3px;
        }


        &.size{
          span{
            display: inline-block;
            border-radius: 3px;
            border: 1px solid #e6e6e5;
            width:40px; height: 40px;
            color: #E3A358;
            text-align: center;
            font-size: 16px;
            line-height: 40px;
            vertical-align: middle;
          }
        }

        &.articul{
          a{
            text-decoration: none;
            color:#010202;
          }
        }

        &.quantity{
          input{
            width:40px; height:40px;
            padding-left:0;
            padding-right: 0;
            border-radius: 3px;
            border-color:#e6e6e5;
            text-align:center;
            font-size: 18px;
          }
          a{
            color:#adadaa;
            text-decoration: none;
            margin:0 2px;
          }
          a,
          input{
            display: inline-block;
          }
        }

        &.image{
          img{
            max-height: 50px;
          }
        }

        &.actions{
          padding-left: 16px;
          a{
            color:#adadaa
          }
        }

        &.total_weight{
          text-align: center;
        }
      }
    }
  }
