{% load static %}

<form class="justify-content-xl-center login-recovery-form custom-card" method="post" action="{% url 'clients:request_pass' %}">
    <div class="d-flex flex-column flex-nowrap container">
        {% csrf_token %}
        <div class="d-sm-flex flex-row sign-in-form-item auth-form-title">
            <p id="title-part-1">ВХОД</p>
            <p class="cursor-pointer" id="title-part-2">
                /&nbsp;
                <a id="register" data-url="{% url 'clients:reg_request' %}">регистрация</a>
            </p>
        </div>
        <div>
            <p class="auth-form-errors"></p>
        </div>
        <div>
            {% for field in form %}
                <div class="sign-in-form-item">
                    <label class="default-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
            {% endfor %}
        </div>
        <div class="text-center recovery-form-btn">
            <button class="btn btn-primary btn-sign-in font-weight-bold" type="submit">Восстановить пароль</button>
        </div>
        <a
            class="d-sm-flex justify-content-sm-center registration-text-sm registration-form-item"
            id="registration-confidential-text"
            href="javascript:void(0);"
        >
            <u>Политика конфиденциальности</u>
        </a>
    </div>
</form>
