{% load static %}
{% load catalog_tags %}
{% spaceless %}
    <form id="form-product-find" class="form-inline d-flex justify-content">
        <img class="d-xl-flex" src="{% static 'img/find.svg' %}">
        <input class="form-control product-find" type="text" placeholder="" aria-label="Search">
    </form>
    <div class="d-flex justify-content row filter-item top-node"><span class="filter-item-title">ФИЛЬТРЫ</span><span class="reset">Сбросить</span></div>
    <!-- <div class="filter-item top-node">
        <div class="form-check"><input class="form-check-input" type="checkbox" id="onOrderFilter" name="available_for_order"><label class="form-check-label filter-item-title" for="onOrderFilter">Показать товары под заказ</label></div>
    </div> -->
    <div class="filter-item top-node">
        <div class="form-check"><input class="form-check-input" type="checkbox" id="inStockFilter" name="in_stock"><label class="form-check-label filter-item-title" for="inStockFilter">Показывать товары под заказ</label></div>
    </div>
    <div class="row filter-item" style="margin-right: 0px;margin-left: 1px;">
        <ul style="padding: 0px;">
            {% if "metals" in filters %}
            <li id="metals">
                <div class="d-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">МЕТАЛЛ</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul style="padding: 0px;">
                    {% for item in filters.metals.tree %}
                        <li class="filter-item-title-hidden">
                            <div class="d-flex row filter-item slave-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;" width="12" height="17">
                                <div style="width: 5px; margin-left: 8px;"></div>
                                <span class="filter-point filter-item-title" name="{{item.ident}}" data-json="{{item|filtertojson}}">{{ item.metal }}
                                    {% if hide_count_of_products %}
                                    <span class="count"></span>
                                    {% endif %}
                                </span>
                            </div>
                            <ul>
                            {% for node in item.nodes %}
                                {% with root_params=item|filtertojson node_params=node|filtertojson %}
                                    <li class="filter-item-title-hidden">
                                        <div class="d-flex row filter-node-item">
                                            <span 
                                                class="filter-point filter-item-title"
                                                name="{{node.ident}}"
                                                data-json="{{ root_params|updateparam:node_params }}"
                                                style="font-weight: normal !important;">
                                                    {{ node.str_color }}
                                                {% if hide_count_of_products %}
                                                <span class="count"></span>
                                                {% endif %}
                                            </span>
                                        </div>
                                    </li>
                                {% endwith %}
                            {% endfor %}
                            </ul>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if "metal_finish" in filters %}
            <li id="metal_finish">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Обработка металла</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul id="metal_finish">
                    {% for item in filters.metal_finish.tree %}                      
                        {% if item.metal_finish__name %}
                        <li class="filter-item-title-hidden">
                            <div class="d-xl-flex justify-content-xl-start row filter-node-item">
                                <span class="filter-point filter-item-title" name="{{item.ident}}" data-json="{{item|filtertojson}}" style="font-weight: normal !important;">{{ item.metal_finish__name }}
                                    {% if hide_count_of_products %}
                                    <span class="count"></span>
                                    {% endif %}
                                </span>
                            </div>
                        </li>    
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if "brands" in filters %}
            <li id="brands">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Коллекции</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul>
                    {% for item in filters.brands.tree %}
                        {% if item.brand__name %}
                        <li class="filter-item-title-hidden">
                            <div class="d-xl-flex justify-content-xl-start row filter-node-item">
                                <span class="filter-point filter-item-title" name="{{item.ident}}" data-json="{{item|filtertojson}}" style="font-weight: normal !important;">{{ item.brand__name }}
                                    {% if hide_count_of_products %}
                                    <span class="count"></span>
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if "prod_status" in filters %}
            <li id="prod_status">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Маркетинговый статус</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul id="prod_status">
                    {% for item in filters.prod_status.tree %}
                        <li class="filter-item-title-hidden">
                            <div class="d-xl-flex justify-content-xl-start row filter-node-item">
                                <span 
                                    class="filter-point filter-item-title"
                                    name="{{item.ident}}"
                                    data-json="{{item|filtertojson}}"
                                    style="font-weight: normal !important;">
                                        {{ item.status|get_status_repr }}
                                    {% if hide_count_of_products %}
                                    <span class="count"></span>
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if "collections" in filters %}
            <li id="collections">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Тип ювелирных изделий</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul style="padding: 0px;">
                    {% for item in filters.collections.tree %}
                        <li class="filter-item-title-hidden">
                            <div class="d-xl-flex row filter-item slave-node">
                                <img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;" width="12" height="17">
                                <div style="width: 5px; margin-left: 8px;"></div>
                                <span class="filter-point filter-item-title" name="{{item.ident}}" data-json="{{item|filtertojson}}">{{ item.collection__group__name }}
                                    {% if hide_count_of_products %}
                                    <span class="count"></span>
                                    {% endif %}
                                </span>
                            </div>

                            <div>
                            {% if "sizes" in filters %}
                                {% for sizeitem in filters.sizes.tree %}
                                    {% if sizeitem.ident == item.ident and sizeitem.nodes|length %}
                                        <div id="sizes" class="row">
                                            {% for node in sizeitem.nodes %}
                                                {% with root_params=sizeitem|filtertojson node_params=node|filtertojson %}
                                                    {% if node.size__name %}
                                                        <span 
                                                            class="size-item filter-point filter-item-title filter-item-title-hidden"
                                                            name="{{node.ident}}"
                                                            data-json="{{ root_params|updateparam:node_params }}"
                                                            style="font-weight: normal !important;">
                                                                {{ node.size__name }}
                                                        </span>
                                                    {% endif %}
                                                {% endwith %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}

                            <ul>
                                {% for node in item.nodes %}
                                    {% with root_params=item|filtertojson node_params=node|filtertojson %}
                                        <li class="filter-item-title-hidden">
                                            <div class="d-xl-flex row filter-node-item">
                                                <span 
                                                    class="filter-point filter-item-title"
                                                    name="{{node.ident}}"
                                                    data-json="{{ root_params|updateparam:node_params }}"
                                                    style="font-weight: normal !important;">
                                                        {{ node.collection__name }}
                                                    {% if hide_count_of_products %}
                                                    <span class="count"></span>
                                                    {% endif %}
                                                </span>
                                            </div>
                                        </li>
                                    {% endwith %}
                                {% endfor %}
                            </ul>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            <!-- {% if "sizes" in filters %}
            <li id="sizes">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Размеры</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul style="padding: 0px;">
                {% for item in filters.sizes.tree %}
                    {% if item.nodes|length %}
                    <li>
                        <div class="d-flex row filter-item slave-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;" width="12" height="17">
                            <div style="width: 5px;"></div>
                            <span 
                                class="filter-point filter-item-title-unable"
                                name="{{item.ident}}"
                                data-json="{{item|filtertojson}}">
                                {{ item.product__collection__group__name }}:
                            </span>
                        </div>
                        <ul>
                            <div id="sizes" class="row">
                                {% for node in item.nodes %}
                                    {% with root_params=item|filtertojson node_params=node|filtertojson %}
                                        {% if node.size__name %}
                                            <span 
                                                class="size-item filter-point filter-item-title"
                                                name="{{node.ident}}"
                                                data-json="{{ root_params|updateparam:node_params }}"
                                                style="font-weight: normal !important;">
                                                    {{ node.size__name }}
                                            </span>
                                        {% endif %}
                                    {% endwith %}
                                {% endfor %}
                            </div>
                        </ul>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            {% endif %} -->
            {% if "weight-range" in filters %}
            <li style="max-width: 270px;">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Средний общий вес, г</span>
                </div>
                <div name="slider" style="height: 20px;"></div>
                <div id="weight-range" name="slider" style="position: relative;">
                    <!-- <span name="start-range" class="range">0</span> -->
                    <span name="start-value" class="slider-value">0</span>
                    <span name="end-value" class="slider-value">150</span>
                    <!-- <span name="end-range" class="range">150</span> -->
                </div>
            </li>
            {% endif %}
            {% if "genders" in filters %}
            <li id="genders">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Для кого</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul id="gender">
                    {% for item in filters.genders.tree %}
                        {% if item.gender__name %}
                        <li class="filter-item-title-hidden">
                            <div class="d-xl-flex justify-content-xl-start row filter-node-item">
                                <span class="filter-point filter-item-title" name="{{item.ident}}" data-json="{{item|filtertojson}}" style="font-weight: normal !important;">{{ item.gender__name }}
                                    {% if hide_count_of_products %}
                                    <span class="count"></span>
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            <!-- <li>
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px;"></div>
                    <span class="filter-item-title">Повод для подарка</span>
                    <span class="reset">Сбросить</span>
                </div>
            </li>
            <li>
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px;"></div>
                    <span class="filter-item-title">Стиль</span>
                    <span class="reset">Сбросить</span>
                </div>
            </li>
            <li>
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px;"></div>
                    <span class="filter-item-title">Дизайн</span>
                    <span class="reset">Сбросить</span>
                </div>
            </li> -->
            {% if "gems" in filters %}
            <li id="gems">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Вставки</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul id="gems">
                    {% for item in filters.gems.tree %}
                        <li class="filter-item-title-hidden">
                            <div class="d-xl-flex justify-content-xl-start row filter-node-item">
                                <span class="filter-point filter-item-title" name="{{item.ident}}" data-json="{{item|filtertojson}}" style="font-weight: normal !important;">{{ item.precious_filter }}
                                    {% if hide_count_of_products %}
                                    <span class="count"></span>
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="gems">
                    <!-- <span href="#" class="gem">Без вставок</span> -->
                    {% for item in filters.gems.tree %}
                        <span class="gem filter-point filter-item-title" name="{{ item.name }}" data-json="{{item|filtertojson}}">{{ item.precious_stone__name }}</span>
                    {% endfor %}
                </div>
            </li>
            {% endif %}
            {% if "colors" in filters %}
            <li id="colors">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Цвет вставки</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul id="gem-colors">
                    {% for item in filters.colors.tree %}
                        {% if item.color_filter %}
                        <li class="filter-item-title-hidden">
                            <div class="d-xl-flex justify-content-xl-start row filter-node-item">
                                <span class="filter-point filter-item-title" name="{{item.ident}}" data-json="{{item|filtertojson}}" style="font-weight: normal !important;">{{ item.color_filter }}
                                    {% if hide_count_of_products %}
                                    <span class="count"></span>
                                    {% endif %}
                                </span>
                            </div>
                        </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endif %}
            {% if "cuts" in filters %}
            <li id="cuts">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div>
                    <span class="filter-item-title">Огранка</span>
                    <span class="reset">Сбросить</span>
                </div>
                <ul id="cuts">
                    <li class="filter-item-title-hidden">
                        <div class="d-xl-flex justify-content-xl-start row filter-node-item" style="margin-left: 5px!important">
                            {% for item in filters.cuts.tree %}  
                                {% if item.cut_type__cut_type_image__name %}
                                <div class="filter-point filter-item-title filter-item-title-center" name="{{item.ident}}" data-json="{{item|filtertojson}}">
                                    {% with item_img=item.nodes|first %}
                                    <img class="d-xl-flex" src="{{ MEDIA_URL }}{{ item_img.cut_type__cut_type_image__image }}" style="padding: 0px;" alt="{{ item.cut_type__cut_type_image__name }}">
                                    {% endwith %}
                                </div>
                                {% endif %}
                        {% endfor %}
                        </div>
                    </li>
                </ul>
            </li>
            {% endif %}
            {% if "instok-range" in filters %}
            <li style="max-width: 270px;">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div><span class="filter-item-title">В наличии</span>
                </div>
                <div name="slider" style="height: 20px;"></div>
                <div id="instok-range" name="slider" style="position: relative;">
                    <span name="start-value" class="slider-value">0</span>
                    <span name="end-value" class="slider-value">1000</span>
                </div>
            </li>
            {% endif %}
            {% if "quantity-range" in filters %}
            <li style="max-width: 270px;">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div><span class="filter-item-title">Количество вставок</span>
                </div>
                <div name="slider" style="height: 20px;"></div>
                <div id="quantity-range" name="slider" style="position: relative;">
                    <div class="row labels">
                        <div class="col-2 label">1</div>
                        <div class="col-2 label">4</div>
                        <div class="col-2 label">10</div>
                        <div class="col-2 label">40</div>
                        <div class="col-2 label">50</div>
                        <div class="col-2 label">100</div>
                    </div>
                    <span id="quantity-value" name="quantity-value" class="slider-value"></span>
                </div>
            </li>
            {% endif %}
            {% if "price-range" in filters %}
            <li style="max-width: 270px;">
                <div class="d-xl-flex row filter-item top-node"><img class="d-xl-flex f-open" src="{% static 'img/f-open.svg' %}" style="padding: 0px;">
                    <div style="width: 5px; margin-left: 8px;"></div><span class="filter-item-title">Базовая цена</span>
                </div>
                <div name="slider" style="height: 20px;"></div>
                <div id="price-range" name="slider" style="position: relative;">
                    <span name="start-value" class="slider-value">500</span>
                    <span name="end-value" class="slider-value">150000</span>
                </div>
            </li>
            {% endif %}
        </ul>
    </div>
{% endspaceless %}