{% load static %}


<form class="justify-content-xl-center registration-form custom-card" method="post" action="{% url 'clients:reg_request' %}">
    {% csrf_token %}
    <div class="d-flex flex-column flex-nowrap">
        <div class="d-sm-flex flex-row title-registration-form registration-form-item">
            <p id="title-part-1">РЕГИСТРАЦИЯ</p>
            <p class="cursor-pointer" id="title-part-2">/&nbsp;<a id="entry" data-url="{% url 'clients:login' %}">вход</a></p>
        </div>
        {% for field in form %}
            {% if not field.is_hidden %}
                {% if field.label != "Captcha" %}
                <div class="registration-form-item">
                    <label class="default-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                </div>
                {% else %}
                <div class="registration-form-captcha">
                    {{ field }}
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        <div class="text-center registration-form-btn">
            <button class="btn btn-primary btn-send-order font-weight-bold" type="submit">Отправить заявку</button>
        </div>
        <a class="d-sm-flex justify-content-sm-center registration-text-sm registration-form-item" id="registration-confidential-text" href="#">
            <u>Политика конфиденциальности</u>
        </a>
    </div>
</form>
