{% load static %}
{% load catalog_tags %}

<div name="form">
    {% csrf_token %}
    <h5 class="sizes-selection__title">Выберите размер и количество</h5>
    <p class="sizes-selection__subtitle">размер, средний вес</p>

    {% include "components/product/sizes.html" with stock_and_cost=stock_and_cost cart=cart %}

    <div class="d-flex sizes-selection__bottom-row">
        <div class="sizes-selection__sum font-weight-bold">0</div>
        <div class="font-weight-bold sizes-selection__currency">руб</div>
        <button name="sizes-selection-add-to-cart-button" class="btn btn-primary font-weight-bold sizes-selection__add-to-cart-button">в корзину</button>
        <div class="sizes-selection__total-group">
            <div class="font-weight-bold sizes-selection__total">
                Всего: <span class="sizes-selection__total-count">0</span> шт
            </div>
            <div>
                В наличии: <span class="sizes-selection__available-count">0</span> шт
            </div>
            <div><span class="sizes-selection__total-weight">0</span> гр</div>
        </div>
    </div>

</div>
