{# templates/admin/widgets/password_input.html #}
{% load static %}

<style>
    .btn-pass {
        display: inline-block;
        background: #fff;
        color: #417690;
        text-decoration: underline;
        border: none;
    }

    .show-password-btn-wrapper {
        display: flex;
        align-items: center;
        position: relative;
        left: -33px;
        border: 0;
        background: transparent;
    }

    .show-password-btn-wrapper__eye-icon {
        height: 20px;
        width: 20px;
    }

</style>
<input 
    type="{{ type }}"
    name="{{ name }}"
    {% if widget.value != None %}
        value="{{ widget.value|stringformat:'s' }}"
    {% endif %}
>
<button type="button" id="eye-view" class="show-password-btn-wrapper">
    <div
        class="show-password-btn-wrapper__eye-icon hidden"
        style="background-image: url('{% static "img/eye.svg" %}')"
    ></div>
    <div
        class="show-password-btn-wrapper__eye-icon crossed"
        style="background-image: url('{% static "img/eye-crossed.svg" %}')"
    ></div>
</button>
<button type="button" id="generate-password" class="btn-pass">Обновить пароль</button>
<script type="text/javascript">
    document.getElementById('generate-password').addEventListener('click', () => {
        fetch('/clients/generate-password/')
            .then(response => response.json())
            .then(data => {
                document.getElementsByName('{{ name }}')[0].value = data.password;
            })
            .catch(error => {
                alert('Failed to generate password. Please try again.');
            });
    });
    document.getElementById('eye-view').addEventListener('click', (event) => {
        const eyeIcon = document.querySelector('.show-password-btn-wrapper__eye-icon');
        const crossedEyeIcon = document.querySelector('.show-password-btn-wrapper__eye-icon.crossed');
        
        eyeIcon.classList.toggle('hidden');
        crossedEyeIcon.classList.toggle('hidden');

        const $input = event.currentTarget.parentNode?.querySelector('input');
        if ($input.type === 'password') {
            $input.type = 'text';
            } else {
                $input.type = 'password';
            }
    });
</script>