html, body {
    height: 100%;
    font-size: 1rem;
}

#main {
    height: 977px;
    min-height: 100%;
    flex-shrink: 0;
    background-size: cover;
}

.main {
    flex-shrink: 0;
    background-color: #d8d9d5;
}

.btn-primary{
  @include button-variant(#E3A358, #E3A358);
  color:#fff;
}
