#main-menu, #login-menu {
    height: 64px;
    background: #242A35;
}

#link-retail-sales {
    width: 202px;
    height: 18px;
    flex-shrink: 0;
    margin-right: 30px;
}

#link-managers {
    width: 93px;
    height: 18px;
    flex-shrink: 0;
    margin-right: 4px;
}

#link-orders {
    flex-shrink: 0;
}

#link-products {
    flex-shrink: 0;
}
#link-client {
    width: 138px;
    height: 18px;
    flex-shrink: 0;
    margin-right: 25px;
}

#link-cart {
    width: 26px;
    height: 24px;
    flex-shrink: 0;
    margin-bottom: 2px;
    margin-right: 25px;
}

#main-menu-info {
    position: absolute;
    right: 64px;
}

#main-menu-hart {
    width: 23px;
    height: 19px;
    flex-shrink: 0;
    stroke-width: 2px;
    stroke: #FFF;
    margin-right: 10px;
}

#add-to-favorites:hover{
    cursor: pointer;
}