{% extends "admin/change_form.html" %}

{% block submit_buttons_bottom %}
<!-- <input type="submit" value="Заполнить клиентов и продолжить редактирование" class="default" name="_save_and_edit"> -->
{{ block.super }}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
    var submitRow = document.querySelector('.submit-row');
    if (submitRow) {
        var saveAndEditButton = document.createElement('input');
        saveAndEditButton.type = 'submit';
        saveAndEditButton.value = 'Заполнить клиентов и продолжить редактирование';
        saveAndEditButton.name = '_fill_clients_and_edit';
        saveAndEditButton.classList.add('default');
        
        // Вставляем кнопку перед первым элементом в submitRow
        submitRow.insertBefore(saveAndEditButton, submitRow.firstElementChild);

        var addanotherButton = submitRow.querySelector('input[name="_addanother"]');
        addanotherButton.style.display = 'none';
        var continueButton = submitRow.querySelector('input[name="_continue"]');
        continueButton.style.display = 'none';
    }
});
</script>
{% endblock %}