.navbar-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: end;

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 119px;
        height: 36px;
    }
}

.navbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
