.navbar-custom {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    justify-content: end;
    font-size: 13px;

    &__logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 119px;
        height: 36px;
    }
}

.navbar-fixed {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}

.navbar-custom-main {
    padding: 23px 52px 23px 60px;
    font-size: 13px;

    &__navbar-nav {
        gap: 38px;
    }

    &__logo {
        @extend .navbar-custom__logo;
    }

    &__logout-link {
        margin-left: 30px;
    }

    &__logout-icon {
        display: block;
        height: 13px;
        width: 13px;
        margin-left: 7px;
    }
}
