* {
    box-sizing: border-box;
}

html {
    position: relative;
    min-height: 100%;
}

.errors {
    color: red;
    font-size: small;
    font-style: italic;
    position: relative;
}

.login_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
}

.login_block button {
    border: 0px;
}

.login_block button:hover {
    background-color: blue;
}

.login_block a {
    margin-right: 10px;
}

.login_icon {
    font-size: 35px;
    color: white;
}

.login_text {
    font-size: 17px;
    margin-right: 30px;
    color: black;
}

.header-line {
    position: relative;
}

.nav {
    margin-bottom: 15px;
}

.main__menu--position {
    height: 70px;
    border-bottom: 10px solid rgb(238, 238, 238);
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    padding: 0px 10px 0px 10px;
}


.main__menu__item--position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 59px;
    padding: 0px 25px 0px 25px;
}

@media screen and (max-width: 992px) {
    .main__menu__item--position {
        padding: 0px 5px 0px 5px;
    }
}

@media screen and (max-width: 768px) {
    .main__menu__item--position {
        padding: 0px 1px 0px 1px;
    }
}

.main__menu__item--design {
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    color: rgb(202, 202, 202);
}

.main__menu__item--design:hover {
    background-color: #ffc107;
    font-weight: bold;
    color: black;
}

.main__menu__item--design i {
    padding-right: 5px;
}


.main__menu__item--selected {
    background-color: #ffc107;
    font-weight: bold;
    color: black;
}


.contact-item {
    padding: 0px;
}

.table {
    margin-top: 10px;
}

.table td, .table th {
    border-top: 0px solid #dee2e6;
}

.content-menu {
    flex-direction: row;
    justify-content: space-between;
}

.search {
    width: 210px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.products {
    padding-top: 0px;
}

.goods-btn-group {
    width: 100%;
    margin-bottom: 10px;
}

.goods-btn {
    width: 50vh;
}

.goods-menu-blocks {
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.goods-menu-blocks ul li {
    border: none;
}

#actions-group ul li {
    padding-left: 0px;
}

.good-block {
    --box-shadow-color: rgb(177, 177, 177);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 var(--box-shadow-color);
}

.good-block:last-child {
    margin-bottom: 50px;
}

.good-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 0px;
}

.good-row .col-2 {
    justify-content: center;
    align-items: center;
}

.good-row .col-center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

figure {
    text-align: center;
}

.thumbnail-50 {
    height: 50px;
    width: 50px;
}

.thumbnail-150 {
    height: 150px;
    width: 150px;
    min-width: 150px;
}


.collection-box {
    cursor: pointer;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
  }
  

  .collection-box::before {
    content: "\203A";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  

  .collection-open-box::before {
    content: "\203A"; 
    color: black;
    transform: rotate(90deg);
  }


  .collection-nested {
    display: none;
  }
  

  .collection-active {
    display: block;
  }


  .product__block--position {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-content: space-between;
  }


  .product__block--indents {
    margin-right: 10px;
  }

  .product__block--indents:last-child {
    margin-right: 0px;
  }

  .product__nav--indents {
    height: 300px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .product__size__block--design {
    --box-shadow-color: rgb(177, 177, 177);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 var(--box-shadow-color);
  }

  .product__size__block--design:hover {
    --box-shadow-color: #ffc107;
  }

  .product__size__block--select {
    background-color: #ffc107;
    --box-shadow-color: rgb(177, 177, 177);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 var(--box-shadow-color);
  }

  .product__size__block--position {
    display:flex;
    align-items:center;
    justify-content: center;
    padding: 0px;
    height: 3vw;
    margin-right: 5px;
  }

  .product__size__block--position:last-child {
    margin-right: 0px;
  }

  .product__thumbnail__block--design {
    --box-shadow-color: rgb(177, 177, 177);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 0 var(--box-shadow-color);    
  }

  .product__thumbnail__block--position {
    padding: 0px;
    margin-right: 5px;
  }

  .product__block__img--position {
    margin-bottom: 20px;
  }

  .page-item-selected--background {
    background-color: #ffc107;
  }