* {
    box-sizing: border-box;
}
html {
    position: relative;
    min-height: 100%;
}

.login-btn {
    margin-right: 0px;
    border: 0px;
}

.login-btn-icon:hover {
    background-color: blue;
}

.errors {
    color: red;
    font-size: small;
    font-style: italic;
    position: relative;
    margin-top: -15px;
}

.login_block {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items:center;
}

.login_icon {
    padding-right: 10px;
    font-size: 40px;
    color: white;
}

.login_text {
    padding-right: 10px;
    color: black;
}

.header-line {
    position: relative;
}

.main-menu {
    /* position: absolute; */
    height: 70px;
    border-bottom: 15px solid rgb(238, 238, 238);
    padding-top: 15px;
}

.main-menu .nav {
    justify-content: space-between;
    align-items: center;
}

.main-menu-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: rgb(202, 202, 202);
}

.main-menu-item:hover {
    color: blue;
}

.main-menu-item i {
    padding-right: 5px;
}

.main-menu-item a {
    padding: 0px;
    color: rgb(114, 114, 114);
}

.main-menu-item a:hover {
    color: blue;
}

main {
    padding-top: 30px;
}

main .card {
    margin-bottom: 20px;
    border: 0px;
}

.contact-item {
    padding: 0px;
}

.table {
    margin-top: 10px;
}

.table td, .table th {
    border-top: 0px solid #dee2e6;
}

.content-menu {
    margin-top: 15px;
    flex-direction: row;
    justify-content: space-between;
}

.search {
    width: 210px;
    margin-top: 1px;
    margin-bottom: 1px;
}