.cart-view{
  padding-top:110px;
  .cart-view__title{
    color:#fff;
    font-size: 20px;
    font-weight: 700;
    background:#E3A358;
    border-radius:3px 3px 0 0;
    min-width: 248px;
    text-align: center;
    float:left;
    margin-left:12px;
    margin-top:-31px;
  }

  .cart-view__content{
    border:1px solid #ADADAA;
    border-radius: 3px;
    max-width: 1334px;
    margin:0 auto;
  }

  table.cart-view__table{
    max-width: 1000px;
    margin:48px auto 16px; padding:0;
    border-collapse: separate;
    border-spacing: 0 8px;
    position:relative; left:-11px; top:0; z-index: 1;
    tr{
      th{
        margin:0;
        padding:0 6px 0;
        border:none;
        color: #ADADAA;
        font-size: 14px;
        font-weight: 400;

        &.image{
          width:76px;
        }
        &.articul{
          width:168px;
        }
        &.metal{
          width:126px;
        }
        &.size{
          width:90px;
        }
        &.weight{
          width:90px;
        }
        &.price{
          width:100px;
        }
        &.quantity{
          width:100px;
        }
        &.total_weight{
          width:104px;
        }
        &.total_price{
          width:104px;
        }
        span{
          display: block;
          text-align: center;
        }
        i.fa-sort-amount-desc,
        i.fa-sort-amount-asc{
          display: none;
        }
        &.tablesorter-headerAsc{
          i.fa-sort-amount-asc{ display: inline-block }
        }
        &.tablesorter-headerDesc{
          i.fa-sort-amount-desc{ display: inline-block }
        }
        &.tablesorter-headerAsc,
        &.tablesorter-headerDesc{
          span{
            border:1px solid #000;
            border-radius: 9px;
            color:#000;
          }
        }
      }
      td{
        border:1px solid #EAEAEB;
        border-left:none;
        border-right:none;
        margin:4px 0;
        padding:6px 6px 4px;
        vertical-align: middle;

        &:first-child{
          border-left:1px solid #EAEAEB;
          border-radius: 3px 0 0 3px;
        }
        &.total_price{
          border-right:1px solid #EAEAEB;
          border-radius: 3px 3px 3px 3px;
        }
        &.errors,
        &.actions{
          border:none;
        }


        &.size{
          span{
            display: inline-block;
            border-radius: 3px;
            border: 1px solid #e6e6e5;
            width:40px; height: 40px;
            color: #E3A358;
            text-align: center;
            font-size: 16px;
            line-height: 40px;
            vertical-align: middle;
          }
        }

        &.articul{
          a{
            text-decoration: none;
            color:#010202;
          }
        }

        &.quantity{
          input{
            width:40px; height:40px;
            border-color:#e6e6e5;
            text-align:center;
          }
          a{
            color:#adadaa;
            text-decoration: none;
            margin:0 2px;
          }
          a,
          input{
            display: inline-block;
          }
        }

        &.image{
          img{
            max-width: 50px;
          }
        }

        &.actions{
          padding-left: 16px;
          a{
            color:#adadaa
          }
        }

        &.price,
        &.total_price,
        &.weight,
        &.total_weight{
          text-align: right;
        }
      }
    }
  }

  .cart-actions{
    width:1000px;
    margin:0 auto 70px;
    position: relative; right: 50px; top:0; z-index: 1;
    .send-to-order{
      width:202px;
      font-weight: 700;
      font-size: 16px;
      text-align: center;
      &:hover,
      &:focus{
        color:#fff;
      }
    }
  }

  .cart-result{
    margin-right: 10px;
    padding-bottom: 9px;
    & > div{
      display: inline-block;
    }

    .cart-result__title{
      color: #010202;
      text-align: right;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .cart-result__total-price{
      color: #010202;
      text-align: right;
      font-size: 20px;
      font-weight: 700;
      padding:0 56px 0 20px;
      min-width: 187px;
    }
    .cart-result__total-weight{
      padding:0 0 0 10px;
      min-width: 100px;
    }
  }
}