
.cart-total-sum {
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-right: 5px;
}

.cart-currency {
    color: #FFF;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-right: 5px;
}

.cart-total-weight {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

#cart-info {
    margin-bottom: 5px;
}
