<div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Авторизация</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <!-- Класс loginForm обязателен и должен соответствовать id кнопки по которой 
            открывается модальное окно. Необходимо для корректной работы нескольких модальных
            окон на одной страницы с разными url адресами-->
            <form class="modal-form loginForm" method="post" action="{% url 'clients:login' %}">
                {% csrf_token %}
                {% for field in form %}                  
                    <div class="form-group row {{ field.name }}-row">
                        {% if not field.is_hidden %}
                            <label class="col-sm-4 col-form-label">{{ field.label_tag }}</label>
                        {% endif %}
                        <div class="col-sm-8">
                            {{ field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8 offset-sm-4 errors {{ field.name }}-error"></div>
                    </div>
                    
                {% endfor %}
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
    </div>
  </div>