
<form class="contactForm" id="contactForm" method="post" action="{% url 'clients:contact' %}">
    <div class="row">
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body contact-item">
                    <h5 class="card-title">Город:</h5>
                    <p class="card-text">{{ data.city }}</p>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body contact-item">
                    <h5 class="card-title">Юридический адрес:</h5>
                    <p class="card-text">{{ data.legal_address }}</p>
                </div>
            </div>    
        </div>
        <div class="col-6">
            <div class="card" style="width: 18rem;">
                <div class="card-body contact-item">
                    <h5 class="card-title">Адрес доставки:</h5>
                    <p class="card-text">{{ data.shoping_address }}</p>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="card" style="width: 18rem;">
                <div class="card-body contact-item">
                    <h5 class="card-title">Вид оплаты:</h5>
                    <p class="card-text">{{ data.payment_type }}</p>
                </div>
            </div>
        </div>
    </div>
    {% if id %}
        <a href="{% url 'clients:edit' %}{{ id }}/" class="btn btn-outline-primary">Редактировать</a>
    {% else %}
        <a href="{% url 'clients:edit' %}" class="btn btn-outline-primary">Редактировать</a>
    {% endif %}
</form>
