{% load static %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Личный кабинет ЮЛ</title>

        <link rel="icon" href="{% static 'icon.png' %}" type="image/x-icon">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <div class="container">
            <h1>Регистрация в личном кабинете:</h1>
            <div class="row">
                <button id="regRequestButton" class="btn btn-gradient-primary btn-lg btn-block" data-toggle="modal" data-target="#regRequestForm">
                    <span><i class="fa fa-money"></i></span>
                    <span class="btn-text text-default">Зарегистрироваться</span>
                </button> 
            </div>
        </div>

        <div class="modal fade" id="regRequestForm" tabindex="-1" role="dialog">
            {% include 'reg_order.html' %}
        </div>


        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        {% csrf_token %}
        <script>
            $(document).ready(() => {
                $('#regRequestForm').on('shown.bs.modal', () => {
                    $.ajax({
                        url: "{% url 'clients:add_request' %}",
                        success: (data) => {
                            console.log(data)
                            $('.modal').html(data);
                        },
                        error: (xhr, status, error) => {
                            alert('Ошибка: ' + error);
                        }
                    });
                })
            });
        </script>
        <!-- <script src="{% static 'index.js' %}"></script> -->
    </body>
</html>