{% load static %}
{% load humanize %}
{% load client_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Личный кабинет ЮЛ</title>

    <link rel="icon" href="{% static 'icon.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static '/font-awesome/css/font-awesome.min.css' %}">

    <style>
        .main-background {
            background: url('{% static "img/login-background.png" %}'), lightgray 50% / cover no-repeat;
        }
    </style>
</head>
<body>
    <script src="{% static 'main.js' %}"></script>
    {% if not request.session.login %}
        <nav class="navbar navbar-custom" id="login-menu">
            <img class="navbar-custom__logo" src="{% static 'img/logo-white.svg' %}" alt="Лого">
            <!-- <a
                class="text-nowrap text-white"
                id="registration-form-switch"
                data-url="{% url 'clients:reg_request' %}"
                href="#"
            >
                Оптовая торговля
            </a> -->
            <span id="add-to-favorites" class="text-nowrap text-white">&nbsp;Добавить страницу входа в закладки&nbsp;</span>
            <!-- <a class="text-nowrap text-white underlined" href="https://talantgold.ru/" target="_blank">Розничная торговля</a> -->
        </nav>

        <div id="main" class="main-background">
            {% block form %}
            {% endblock %}
        </div>
    {% else %}
        <nav class="d-lg-flex justify-content-lg-start navbar navbar-dark navbar-expand-md navbar-fixed navbar-custom-main" id="main-menu">
            <button class="navbar-toggler navbar-custom-pos" data-toggle="collapse" data-target="#menu-collapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="menu-collapse" class="collapse navbar-collapse menu-collapsed">
                <ul class="navbar-nav navbar-custom-main__navbar-nav">
                    <li class="d-lg-flex align-items-lg-center nav-item">
                        <a class="text-nowrap text-center text-white d-lg-flex justify-content-lg-center align-items-lg-center main-menu-item" id="link-products" href="{% url 'catalog:products' %}">
                            Каталог
                        </a>
                    </li>
                    <li class="d-lg-flex align-items-lg-center nav-item">
                        <a class="text-nowrap text-center text-white d-lg-flex justify-content-lg-center align-items-lg-center main-menu-item" id="link-orders" href="{% url 'orders:orders' %}">
                            Заказы
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex align-items-center row" id="main-menu-info">
                <a class="text-nowrap text-center text-white d-flex justify-content-center align-items-center main-menu-item" id="link-client" href="{% url 'clients:contact' %}">
                    <p id="login-info">{{ request.session|login_info }}</p>
                </a>
                <!-- <img class="d-flex align-items-center main-menu-item" id="main-menu-hart" src="{% static 'img/hart.svg' %}"> -->
                <a class="d-flex align-items-center main-menu-item" id="link-cart" href="{% url 'cart:cart_detail' %}">
                    <img class="d-flex" id="main-menu-cart" src="{% static 'img/cart.svg' %}">
                </a>
                <div id="cart-container">
                    {% with total_items=cart|length %}
                    <div class="d-flex flex-nowrap justify-content-center align-items-end row" id="cart-info">
                        <span class="d-sm-flex cart-total-sum">{{ cart.get_total_price|floatformat:"0"|intcomma }}</span>
                        <span class="d-sm-flex cart-currency">₽</span>
                        <span class="flex-nowrap cart-total-weight">/ {{ cart.get_total_weight|floatformat:2 }} г</span>
                    </div>
                    {% endwith %}
                </div>
                <a class="text-nowrap text-center text-white d-flex justify-content-center align-items-center navbar-custom-main__logout-link" name="logout" data-url="{% url 'clients:logout' %}" href="javascript:void(0);">
                    <i>выход</i>
                    <!-- <svg class="navbar-custom-main__logout-icon" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.01297 6.39978L12.3419 1.0709C12.5475 0.872263 12.5532 0.544522 12.3546 0.33885C12.156 0.133178 11.8282 0.127475 11.6226 0.32611C11.6182 0.330265 11.614 0.334512 11.6098 0.33885L6.28089 5.66773L0.952 0.33882C0.746328 0.140186 0.418587 0.145889 0.219952 0.351561C0.0261707 0.552197 0.0261707 0.870261 0.219952 1.0709L5.54884 6.39978L0.219952 11.7287C0.0178286 11.9308 0.0178286 12.2586 0.219952 12.4607C0.422105 12.6628 0.749847 12.6628 0.952 12.4607L6.28089 7.13182L11.6098 12.4607C11.8155 12.6593 12.1432 12.6536 12.3418 12.448C12.5356 12.2473 12.5356 11.9293 12.3418 11.7287L7.01297 6.39978Z" fill="white"/>
                    </svg> -->
                </a>
            </div>
            <img class="navbar-custom-main__logo" src="{% static 'img/logo-white.svg' %}" alt="Лого">
        </nav>

        <div class="container-fluid main-content">
            {% block page %}
                {% block content %}
                {% endblock %}
            {% endblock %}
        </div>

    {% endif %}

    {% include "components/main/footer.html" with organization=organization%}

    <div class="sign-in-form-layout" id="registration-form"></div>
    <div class="background-overlay hidden"></div>
</body>
</html>
