<div class="col-md-2 bg-light d-none d-lg-block sidebar">
    <div class="left-sidebar">

        <ul class="nav flex-column sidebar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                Менеджеры
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Номенклатура
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Цены
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                Заявки
              </a>
            </li>
        </ul>

    </div>
</div>