{% load catalog_tags %}

{% with params="id"|addparam:product.id %}
    {% if product.id in is_sized %}
        {% with sizes="is_sized"|addparam:1 %}
            <div class="product-item card position-relative" data-json="{{ params|dictupdate:sizes|tojson }}">
        {% endwith %}
    {% else %}
        <div class="product-item card position-relative" data-json="{{ params|tojson }}">
    {% endif %}
{% endwith %}

    <div class="card-body">
        <div class="row card-body__inner-row">
            <div class="col col-8 product-item__brand">{{ product.brand|default:"" }}</div>
            <div class="product-item__tags">
                {% if product.status %}
                    {% with product_status="status"|addparam:product.status %}
                        <div name="product-status" class=""
                            data-json="{{ product_status|tojson }}">
                            <span class="product-item__status-text">{{ product.get_status_display }}</span>
                        </div>
                    {% endwith %}
                {% endif %}
            </div>
            <div class="col col-12">
                <div id="product-carousel-{{ product.id }}" class="carousel">
                    <div class="carousel-inner">
                        <figure>
                            <img
                                data-src="{{ product.get_images|first }}"
                                class="lazy img-fluid rounded img-thumbnail thumbnail-210"
                                alt="{{ product.name }}"
                                style="border: none; text-indent: -9999999px;"
                            >
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col col-12">
                <div class="product-item__name">{{ product.name }}</div>
            </div>
            <div class="col col-6 price-block">
                <div class="product__price-block--position">
                    <div class="product__price-block__row--position">
                        <div class="product__price-block__element--position price-per-weight">
                            <div name="empty-price-label"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="cart-form-{{ product.id }}" class="col col-6 inStock-block">
                <div class="px-4 px-sm-0 text-center inStock-block__value" >
                    <span class="in_stock" style="visibility: hidden;"> Товар под заказ </span>
                </div>
                {% findparam cart "product" product.id as found_in_cart%}

                {% if found_in_cart and not product.id in is_sized %}
                <div name="cart-form-container" class="px-4 px-sm-0" style="display: none;">
                {% else %}
                <div name="cart-form-container" class="px-4 px-sm-0" style="display: block;">
                {% endif %}
                    <form id="cartForm-{{ product.id }}" method="post" action="{% url 'cart:cart_add' product.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="quantity" value="1"/>
                        <input type="hidden" name="update" value="False"/>
                        <input type="hidden" name="price" value="0"/>
                        <input type="hidden" name="unit" value="796"/>
                        <input type="hidden" name="size" value=""/>
                        <input type="hidden" name="weight" value=0 />
                    </form>
                    <div>
                        <input
                            id="cartForm-{{ product.id }}"
                            name="add-to-cart"
                            type="button"
                            value="{% if found_in_cart and product.id in is_sized %} уже в корзине {% else %} в корзину {% endif %}"
                            class="btn btn-primary add-to-cart__button {% if found_in_cart and product.id in is_sized %} into-cart__button {% endif %}"/>
                    </div>
                </div>

                {% if found_in_cart %}
                    {% if product.id in is_sized %}
                        <div name="cart-row" class="px-4 px-sm-0 cart" style="display: none;">
                            <a class="cart-element delOneFromCart" href="#">-</a>
                            <input
                                type="text"
                                name="selection-quantity-input"
                                class="form-control cart-element product__inStock-block__cart__input--position"
                                readonly
                                min="0"
                                value="{{ found_in_cart.quantity }}"
                            >
                            <a class="cart-element addOneToCart" href="#">+</a>
                            <div name="cart-key" style="display: none;"></div>
                        </div>
                    {% else %}
                        <div name="cart-row" class="px-4 px-sm-0 cart" style="display: flex;">
                            <a class="cart-element delOneFromCart" href="#">-</a>
                            <input
                                type="text"
                                name="selection-quantity-input"
                                class="form-control cart-element product__inStock-block__cart__input--position"
                                readonly
                                min="0"
                                value="{{ found_in_cart.quantity }}"
                            >
                            <a class="cart-element addOneToCart" href="#">+</a>
                            <div name="cart-key" style="display: none;"></div>
                        </div>
                    {% endif %}
                {% else %}
                    <div name="cart-row" class="px-4 px-sm-0 cart" style="display: none;">
                        <a class="cart-element delOneFromCart" href="#">-</a>
                        <input
                            type="text"
                            name="selection-quantity-input"
                            class="form-control cart-element product__inStock-block__cart__input--position"
                            readonly
                            min="0"
                            value="0"
                        >
                        <a class="cart-element addOneToCart" href="#">+</a>
                        <div name="cart-key" style="display: none;"></div>
                    </div>
                {% endif %}

            </div>

            <div class="row px-4 px-sm-0">
                <a href="{% url 'catalog:product' product.id %}" class="stretched-link"></a>
            </div>

        </div>
    </div>

    <div class="col col-12 product-item__additional-data hidden">
        <div class="product-item__articul">{{ product.articul }}</div>
        <div>
            <span class="product-item__weight weight"></span>
        </div>
    </div>

    <div 
        class="custom-card sizes-selection hidden"
        id="sizes-selection-form-{{ product.id }}"
        data-url="{% url 'catalog:sizes_selection' product.id %}">
    </div>

</div>

