@import "libs/boilerplate";
@import "utils/variables";
@import 'bootstrap/scss/bootstrap';
@import "slick-carousel/slick/slick";

@import "common/fonts";
@import "common/forms";

@import "layout/default";

@import "components/contact/detail";

@import "components/sizes-selection/sizes-selection";
@import "components/forms/old_form";
@import "components/navigation/mainmenu";
@import "components/auth/registration";
@import "components/auth/login";
@import "components/forms/confirm";
@import "components/navbar/navbar";
@import "components/footer/footer";
@import "components/show-password-btn/show-password-btn";

@import "components/cart/old";
@import "components/_old/brand";

@import "components/product/status";
@import "components/product/list";
@import "components/product/detail";
@import "components/product/product_editing";
@import "components/product/card";
@import "components/pagination/default_paginator";
@import "components/navigation/filter-badges";

@import "components/cart/cart-view";

@import "components/order/default";
@import "components/order/list";
@import "components/order/preview";

@import "components/conditions/conditions";

@import "libs/spin";

.navbar-custom-pos {
    position: absolute;
    left: 10px;
}

#link-catalog {
    color: #FFF;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

#login-info {
    margin: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: inherit;
}



@media (max-width: 991px) {
    .navbar .collapsing,
    .navbar .show {
        position: absolute;
        top: 70px;
        left: 6px;
        z-index: 1;
        background:#242A35 !important;
        border-radius: 10px;
    }
}

@media (max-width: 991px) {
    .navbar .collapsing,
    .navbar .show li{
        padding: 2px 0px 2px 10px;
    }
}
