.login-form {
    width: 440px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    padding: 15px 30px 23px;
}

.login-recovery-form {
    width: 440px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    padding: 15px 30px 23px;
}

.sign-in-form-item {
    margin-bottom: 17px;
    position: relative;

    &:last-child {
        margin-bottom: 20px;
    }

    &__show-password-btn-wrapper {
        position: absolute;
        right: 20px;
        bottom: 15px;
    }
}

.auth-form-title {
    @extend .title-registration-form;
    margin-bottom: 11px;
}

.auth-form-errors {
    color: red;
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.change-pass-form {
    width: 440px;
    flex-shrink: 0;
    border-radius: 15px;
    background: #FFF;
    padding: 15px 30px 22px;
}

.sign-in-form-layout {
    position: absolute!important;
    top: 127px!important;
    left: 0!important;
    right: 0!important;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.auth-form-btn {
    @extend .registration-form-btn;
    margin-top: 0;
    // margin-bottom: 29px;

    .btn {
        width: 137px;
    }
}

.recovery-form-btn {
    @extend .registration-form-btn;
    margin-top: 0;

}

.change-pass-form-btn {
    @extend .auth-form-btn;
    margin-bottom: 20px;
}
